{% extends 'common/base.html' %}
{% load static %}
{% load product_filters %}
{% block title %}Количка | Rocco Woodwork{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/cart/cart.css' %}">
{% endblock %}
{% block content %}
    <div class="container cart">
        <h1>Количка</h1>
        {% if cart_products %}
            <div class="products">
                {% for product, quantity in cart_products.items %}
                    <div class="product">
                        <div class="image-container">
                            <a href="{% url 'product_details' slug=product.slug %}">
                                <img src="{{ product.thumbnail_image_url }}" alt="{{ product.name }}" />
                            </a>
                        </div>
                        <div class="product-info">
                            <div>
                                <p>{{ product.name }}</p>
                                <a href="{% url 'remove_product' slug=product.slug %}" class="remove">Премахни</a>
                            </div>
                            <div class="quantity">
                                <form method="post"
                                      action="{% url 'decrease_quantity' slug=product.slug %}"
                                      class="form-control">
                                    {% csrf_token %}
                                    <button type="submit">&minus;</button>
                                </form>
                                <p>{{ quantity }}</p>
                                <form method="post"
                                      action="{% url 'add_to_cart' slug=product.slug %}"
                                      class="form-control">
                                    {% csrf_token %}
                                    <input type="hidden" name="redirect_to" value="{{ request.path }}">
                                    <button type="submit">&plus;</button>
                                </form>
                            </div>
                            <p class="price">{{ product.price|calculate_total_price:quantity }} лв.</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="checkout">
                <p>
                    Обща цена: <span>{{ total_price|floatformat:2 }} лв.</span>
                </p>
                <a href="{% url "checkout" %}" class="button">Завършване на поръчката</a>
            </div>
        {% else %}
            <p>Няма продукти в количката</p>
        {% endif %}
    </div>
{% endblock %}
