{% extends "common/base.html" %}
{% load static %}
{% load product_filters %}
{% block title %}Завършване на поръчка | Rocco Woodwork{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/cart/checkout.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Завършване на поръчка</h1>
        <div class="data">
            <form method="post" action="{% url 'checkout' %}" class="form">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.errors %}{{ field.errors }}{% endif %}
                    {% if field.field.widget.input_type == "checkbox" %}
                        <label for="{{ field.id_for_label }}">
                            {{ field }}
                            {{ field.label }}
                        </label>
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <p>
                    Вашите лични данни ще бъдат използвани за обработване на поръчката и за целите, посочени в нашата <a href="{% url 'privacy_policy' %}">политика за поверителност</a>.
                </p>
                <button type="submit" class="button">Поръчай</button>
            </form>
        </div>
    </div>
    <!--<div class="checkout">-->
    <!--    <div class="order-data">-->
    <!--        <h2>Данни за поръчка</h2>-->
    <!--    </div>-->
    <!--    <div class="order">-->
    <!--        <h2>Продукти</h2>-->
    <!--        <div class="products">-->
    <!--            {% for product, quantity in cart_products.items %}-->
    <!--                <p>{{ product }} &times; {{ quantity }} - {{ product.price|calculate_total_price:quantity }} лв.</p>-->
    <!--            {% endfor %}-->
    <!--            <p>-->
    <!--                Общо: <span class="total-price">{{ total_price|floatformat:2 }}</span> лв.-->
    <!--            </p>-->
    <!--        </div>-->
    <!--    </div>-->
{% endblock %}
