main,
main > .container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.top-section {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.products {
  display: flex;
  justify-content: space-between;
  margin-block: 2em;
  flex-wrap: wrap;
  gap: 2em;
}

.product {
  flex-basis: 47%;
}

.image-container {
  margin-bottom: 0.5em;
}

.image-container img {
  aspect-ratio: 4/3;
}

.product > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5em;
}

.product .info {
  margin-block: 0.5em;
}

.product .info p {
  word-break: break-all;
}

.product .cart form {
  text-align: center;
}

.product .cart button {
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: auto;
}

.pagination-number {
  border: 1px solid black;
  border-radius: 0.3em;
  padding: 0.6em 0.9em;
  line-height: 1;
}

.pagination-current {
  color: var(--orange);
}

.products > p {
  margin-inline: auto;
}

@media (max-width: 768px) {
  .top-section {
    flex-direction: column;
  }

  h1 {
    text-align: center;
  }

  .top-section form {
    margin-inline: auto;
  }

  .product {
    flex-basis: 100%;
  }
}
