.top-section {
  display: flex;
  justify-content: space-between;
}

.options {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.options > * {
  margin-top: auto;
}

.options select {
  font-size: 1em;
}

.options form select {
  width: 100%;
}

.products {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  flex-wrap: wrap;
  gap: 1.5em;
}

.product {
  flex-basis: 48%;
}

.product img {
  aspect-ratio: 4/3;
}

.product > div:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;
}

.product .info {
  font-size: 0.9em;
}

.product .info a {
  color: black;
  text-decoration: none;
}

.product .cart button {
  background: none;
  border: none;
  color: var(--orange);
  font-size: 1.3em;
  cursor: pointer;
  width: 30px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  margin-top: 2em;
}

.pagination a,
.pagination-current {
  text-decoration: none;
  color: black;
  line-height: 1;
}

.pagination-number {
  border: 1px solid black;
  padding: 0.6em;
}

.pagination-current {
  color: var(--orange);
  border-color: var(--orange);
}

@media (max-width: 768px) {
  .top-section {
    flex-direction: column;
    gap: 1em;
  }

  .top-section h1 {
    text-align: center;
  }

  .product {
    flex-basis: 100%;
  }
}
