.product {
  display: flex;
  justify-content: space-between;
}

.product .image {
  flex-basis: 60%;
  margin: 0;
}

.product > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 35%;
  gap: 1.5em;
}

.info {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
}

.categories a {
  color: var(--orange);
}

.cart form {
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-inline: 0;
}

.cart form input {
  width: 30%;
}

.cart form button {
  width: 70%;
}

/*Swiper*/

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 4/3;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  height: auto !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

@media (max-width: 768px) {
  .product {
    flex-direction: column;
    gap: 0.5em;
  }
}
