h1 {
  text-align: center;
  margin-bottom: 1em;
}

.contacts {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 0 auto;
}

.contacts > * {
  flex: 1;
}

.contact-information p {
  word-break: keep-all;
}

.contact-information p:not(:last-child) {
  margin-bottom: 0.5em;
}

.contacts .form {
  align-items: stretch;
}

@media (max-width: 768px) {
  .contacts {
    flex-direction: column;
  }

  .contact-information {
    align-self: center;
  }
}
