.form-control {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form-control input,
.form-control textarea,
.form-control select {
  flex-shrink: 1;
  height: 3rem;
  padding-inline: 1em;
  font-size: 1rem;
  line-height: 2;
  line-height: 1.5rem;
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;
  margin-inline: auto;
  max-width: 100%;
  resize: vertical;
}

.form-control textarea {
  height: 9rem;
}

.form-control button {
  margin-inline: auto;
}
