main {
  margin-top: 0;
}

.banner {
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 55vh;
  background-size: cover;
  background-position: center;
  padding-top: 6em;
  padding-inline: 1em;
  color: white;
  text-align: center;
}

.our-products {
  margin-top: 1em;
  text-align: center;
}

.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 1em;
}

.category {
  flex-basis: 31%;
  width: 100%;
  position: relative;
}

.category img {
  aspect-ratio: 4/3;
  filter: brightness(85%);
  transition: filter 0.2s;
}

.category:hover img {
  filter: none;
}

.category p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.custom-projects {
  text-align: center;
  margin-top: 0.5em;
}

.custom-projects .info p {
  margin-block: 1em;
}

@media (max-width: 768px) {
  .banner {
    min-height: 65vh;
  }

  .categories {
    flex-direction: column;
  }
}
