nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: visible;
  z-index: 100;
  background-color: white;
  box-shadow: 0 0 1em rgb(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  padding-block: 0.5em;
}

nav .container {
  display: flex;
}

nav .container > * {
  flex: 1;
}

nav a {
  display: flex;
}

nav li {
  display: block;
}

.nav-btn,
.mobile-link {
  display: none;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1em;
}

.nav-links li {
  font-weight: bold;
  font-size: 1.1rem;
}

.nav-links li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s;
}

.nav-links li:hover::after {
  width: 100%;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 50%;
  height: auto;
  margin-inline: auto;
}

.logo.white path {
  fill: white;
}

.icon-navigation {
  display: flex;
  gap: 1em;
  justify-content: flex-end;
  align-items: center;
}

.cart {
  position: relative;
}

.cart::after {
  content: attr(value);
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  font-size: 10px;
  font-weight: bold;
  width: 16px;
  text-align: center;
  background: black;
  color: white;
  border-radius: 12px;
}

.cart[value=""]::after {
  display: none;
}

.search-toggle {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.search > .search-toggle {
  color: black;
}

.search {
  position: absolute;
  inset: 0;
  background: white;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.search.visible {
  display: flex;
}

.search form {
  position: relative;
  min-width: 40%;
  margin-inline: 0 !important;
}

.search form input {
  width: 100% !important;
  padding: 1em !important;
}

.search form button {
  display: flex;
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

nav.transparent {
  background: transparent;
  box-shadow: none;
  color: white;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
}

nav:not(.transparent) .logo.white,
nav.transparent .logo:not(.white) {
  display: none !important;
}

nav.transparent li::after {
  background: white;
  color: black;
}

nav.transparent a {
  color: white;
}

@media (max-width: 768px) {
  .logo {
    width: 100%;
  }

  .icon-navigation li:nth-child(2) {
    display: none;
  }

  .mobile-link {
    display: block !important;
  }

  .nav-btn {
    display: flex !important;
    align-items: center;
    font-weight: bold !important;
    line-height: unset !important;
    cursor: pointer !important;
    transition: transform 0.2s ease;
    width: 1em;
  }

  .nav-btn.active {
    transform: skew(-15deg);
  }

  .nav-links {
    display: flex;
    gap: 1.5em;
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: 5em;
    left: -100%;
    background-color: white;
    padding: 0 1em 1em 1em;
    height: calc(100vh - 3.5em);
    transition: left 0.2s;
    width: 55%;
  }

  .nav-links.active {
    left: 0;
  }

  nav .search {
    gap: 1em;
  }
}
