nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5em;
  overflow: visible;
  z-index: 100;
  background-color: white;
  border-bottom: 1px solid #dfe3e8;
  transition: background-color 0.2s;
}

nav .container {
  display: flex;
}

nav .container > * {
  flex: 1;
}

.nav-btn {
  display: none;
}

nav li {
  display: block;
  font-weight: bold;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1em;
}

.products-toggle {
  position: relative;
  cursor: pointer;
}

.products-toggle p {
  display: flex;
  align-items: center;
}

.products-toggle:not(.active) svg {
  transform: rotate(-90deg);
}

.products-toggle.active .categories-nav {
  display: flex;
}

.categories-nav {
  display: none;
  position: absolute;
  flex-direction: column;
  background: white;
}

.categories-nav a {
  padding: 1em;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: auto;
  height: 100%;
}

.icon-nav {
  display: flex;
  gap: 1em;
  justify-content: flex-end;
  align-items: center;
}

.icon-nav a {
  display: flex;
}

.cart {
  position: relative;
}

.cart::after {
  content: attr(value);
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  font-size: 0.6em;
  font-weight: bold;
  width: 1.5em;
  text-align: center;
  background: black;
  color: white;
  border-radius: 100%;
}

.cart[value=""]::after {
  display: none;
}

.search-toggle {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.search > .search-toggle {
  color: black;
}

.search {
  position: absolute;
  inset: 0;
  background: white;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.search.visible {
  display: flex;
}

.search form {
  position: relative;
  min-width: 40%;
  margin-inline: 0 !important;
}

.search form input {
  width: 100% !important;
  padding: 1em !important;
}

.search form button {
  display: flex;
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.logo:last-of-type {
  display: none;
}

nav.transparent .logo:first-of-type {
  display: none;
}

nav.transparent .logo:last-of-type {
  display: block;
}

nav.transparent {
  background: transparent;
  border: none;
  color: white;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
}

nav.transparent li::after {
  background: white;
  color: black;
}

nav.transparent a {
  color: white;
}

nav.transparent svg text,
nav.transparent .products-toggle svg {
  fill: white !important;
}

@media (max-width: 768px) {
  .products-toggle.active .categories-nav {
    position: static;
    padding-block: 0.5em 0;
    box-shadow: none;
  }

  .nav-btn {
    display: flex !important;
    align-items: center;
    font-weight: bold !important;
    line-height: unset !important;
    cursor: pointer !important;
    transition: transform 0.2s;
    width: 1em;
  }

  .nav-btn.active {
    transform: skew(-15deg);
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: 5em;
    left: -100%;
    background-color: white;
    padding: 1em;
    height: calc(100vh - 3.5em);
    transition: left 0.2s;
    width: 50%;
  }

  .nav-links.active {
    left: 0;
  }
}
