h1 {
  text-align: center;
}

.privacy-policy {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 2em;
}

.privacy-policy li {
  display: block;
}

.privacy-policy a {
  text-decoration: underline;
}
