{% extends 'common/base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet"
          href="{% static 'css/users/base-authentication.css' %}">
{% endblock %}
{% block title %}{{ state }} - WoodenWonders{% endblock %}
{% block content %}
    <form method="post"
          action="{% if request.META.QUERY_STRING %}?{{ request.META.QUERY_STRING }}{% elif state == 'Login' %} {% url 'login' %} {% else %} {% url 'register' %} {% endif %} "
          class="form">
        {% csrf_token %}
        <p>{{ form.non_field_errors }}</p>
        {% if state == "Register" %}
            <div class="username-fields form">
                {{ form.email.errors }}
                {{ form.email }}
                <p>and/or</p>
                {{ form.phone_number.errors }}
                {{ form.phone_number }}
            </div>
            {{ form.password1 }}
            {{ form.password2 }}
        {% else %}
            {% for field in form %}
                {% if field.errors %}{{ field.errors }}{% endif %}
                <p>{{ field }}</p>
            {% endfor %}
        {% endif %}
        <input type="hidden" name="next" value="{{ next }}">
        {% for key, value in fields_with_values.items %}<input type="hidden" name="{{ key }}" value="{{ value }}">{% endfor %}
        {% if login_required_form_fields %}
            <input type="hidden"
                   name="login_required_form_fields"
                   value="{{ login_required_form_fields }}">
        {% endif %}
        <button type="submit" class="button">{{ state }}</button>
    </form>
    {% if state == 'Login' %}
        <p>
            Don't have an account? <a href="{% url 'register' %}?{{ request.META.QUERY_STRING }}">Register</a>
        </p>
    {% else %}
        <p>
            Already have an account? <a href="{% url 'login' %}?{{ request.META.QUERY_STRING }}">Login</a>
        </p>
    {% endif %}
{% endblock %}
