{% extends 'common/base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet"
          href="{% static 'css/users/base-authentication.css' %}">
{% endblock %}
{% block title %}{{ state }} - WoodenWonders{% endblock %}
{% block content %}
    <form method="post"
          action="{% if state == 'Login' %}{% url 'login' %}{% else %}{% url 'register' %}{% endif %}">
        {% csrf_token %}
        <p>{{ form.non_field_errors }}</p>
        {% for field in form %}
            {% if field.errors %}{{ field.errors }}{% endif %}
            <p>{{ field }}</p>
        {% endfor %}
        <input type="hidden" name="next" value="{{ next }}">
        <input type="hidden" name="stars" value="{{ stars }}">
        <input type="hidden" name="message" value="{{ message }}">
        <button type="submit" class="button">{{ state }}</button>
    </form>
    {% if state == 'Login' %}
        <p>
            Don't have an account? <a href="{% url 'register' %}?next={{ next }}&stars={{ stars }}&message={{ message }}">Register</a>
        </p>
    {% else %}
        <p>
            Already have an account? <a href="{% url 'login' %}?next={{ next }}&stars={{ stars }}&message={{ message }}">Login</a>
        </p>
    {% endif %}
{% endblock %}
