{% load static %}
<link rel="stylesheet" href="{% static "css/users/base-details.css" %}" />
<div class="container">
    <ul class="profile-navigation">
        <li>
            <a href="{% url 'user_details' %}"><i class="fa-solid fa-user"></i> Account</a>
        </li>
        <li>
            <a href="{% url 'user_orders' %}"><i class="fa-solid fa-box"></i> Orders</a>
        </li>
        <li>
            <a href="{% url 'change_password' %}"><i class="fa-solid fa-lock"></i> Change Password</a>
        </li>
        <li>
            <a href="{% url 'logout' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i> Log out</a>
        </li>
    </ul>
</div>
