{% extends "common/base.html" %}
{% load static %}
{% block title %}Change Password | WoodenWonders{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static "css/users/base-authentication.css" %}">
{% endblock %}
{% block content %}
    <div>
        <form method="post" action="{% url 'change_password' %}" class="form">
            {% csrf_token %}
            {% for field in form %}
                {% if field.errors %}<p>{{ field.errors }}</p>{% endif %}
                {{ field }}
            {% endfor %}
            <button type="submit" class="button">Submit</button>
        </form>
    </div>
{% endblock %}
