{% extends 'common/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/users/register.css' %}">
{% endblock %}
{% block title %}
    Register - WoodenWonders
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}

        <div class="form-error">
            <p>{{ form.non_field_errors }}</p>
        </div>

        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    <div class="form-error">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
            <p>{{ field }}</p>
        {% endfor %}

        <button type="submit">Register</button>
    </form>
{% endblock %}