.filters {
  background-color: var(--lighter);
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.search-field {
  margin-bottom: 0 !important;
  min-width: 200px;
}

.search-field button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  color: var(--dark-wood);
  font-weight: 600;
  font-size: 15px;
  margin-left: 5px;
}

.search-field button:hover {
  color: var(--caramel);
  transition: color 0.1ms ease-out;
}

.price-range {
  display: flex;
  align-items: center;
}

.price-range input {
  width: 80px;
}

.price-range-hyphen {
  margin: 0 5px;
}

.label-with-input > label {
  color: var(--dark-wood);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
}

.filter-form {
  margin-top: 10px !important;
}

.pagination {
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.pagination a {
  text-decoration: none;
}

.pagination-number {
  padding: 12px 17px;
  border-radius: 2px;
  color: #fff;
  background-color: var(--dark-wood);
  cursor: pointer;
}

.pagination-number:hover,
.pagination-current {
  background-color: var(--caramel);
}

.pagination a span {
  font-size: 25px;
  color: var(--dark-wood);
}

.pagination a span:hover {
  color: var(--caramel);
}

.main-content {
  display: flex;
}

.form {
  align-items: self-start;
  margin: 20px;
}

.form:nth-of-type(1) {
  margin-bottom: 0;
}

.form *:not(button) {
  padding: 1px;
}

@media screen and (max-width: 767px) {
  .products {
    margin-top: 20px;
  }

  .filters {
    justify-content: center;
    align-items: center;
  }

  .form button {
    align-self: center;
  }

  .main-content {
    flex-direction: column;
  }
}
