{% extends 'common/base.html' %}
{% load static %}
{% block title %}Поръчки | Jepeto Woodwork{% endblock %}
{% block meta_description %}Преглед на историята на вашите поръчки в Jepeto Woodwork.{% endblock %}
{% block meta_keywords %}история на поръчки, предишни поръчки, поръчки, статус на поръчки{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static "css/users/order-history.css" %}">
{% endblock %}
{% block content %}
    {% include "users/base-details.html" %}
    <div class="order-history">
        {% if object_list %}
            <h2 class="title">Твоите поръчки</h2>
            {% for order in object_list %}
                <div class="order light-box">
                    <p class="additional-information">
                        Създадена на: <span>{{ order.created_on|date:"m.d.Y" }}</span>
                    </p>
                    <p class="additional-information">
                        Номер на поръчка: <span>{{ order.number }}</span>
                    </p>
                    <ul class="orders">
                        {% for ordered_product in order.orderproduct_set.all %}
                            <li>
                                <p>
                                    <a href="{% url 'product_details' slug=ordered_product.product.slug %}">{{ ordered_product.product.name }}</a> &times; {{ ordered_product.quantity }} - {{ ordered_product.product_total }} лв.
                                </p>
                            </li>
                        {% endfor %}
                        {% if order.delivery_type == "courier" %}
                            <li>
                                <p>Куриер - 7.00 лв.</p>
                            </li>
                        {% endif %}
                    </ul>
                    <p>Общо: {{ order.total_price|floatformat:2 }} лв.</p>
                </div>
            {% endfor %}
        {% else %}
            <h1 style="align-self: center; color: var(--dark-wood);">Няма поръчки</h1>
        {% endif %}
    </div>
{% endblock %}
