{% extends "common/base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static "css/users/saved-checkout-information.css" %}">
{% endblock %}
{% block title %}Edit Saved Checkout Information | WoodenWonders{% endblock %}
{% block content %}
    <div class="light-box">
        <form method="post"
              action="{% url 'saved_checkout_information' %}"
              class="form">
            {% csrf_token %}
            {% for field in form %}
                {% if field.errors %}{{ field.errors }}{% endif %}
                {{ field }}
            {% endfor %}
            <button type="submit" class="button">Edit</button>
        </form>
        <a href="{% url 'delete_saved_checkout_information' %}" class="button">Delete</a>
    </div>
{% endblock %}
