{% extends "common/base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static "css/users/saved-checkout-information.css" %}">
{% endblock %}
{% block title %}Запазена информация| WoodenWonders{% endblock %}
{% block content %}
    {% include "users/base-details.html" %}
    <div class="saved-checkout-information light-box">
        <form method="post"
              action="{% url 'saved_checkout_information' %}"
              class="form">
            {% csrf_token %}
            {% for field in form %}
                {% if field.errors %}{{ field.errors }}{% endif %}
                {{ field }}
            {% endfor %}
            <button type="submit" class="button">Поднови</button>
        </form>
        <a href="{% url 'delete_saved_checkout_information' %}"><i class="fa-solid fa-xmark"></i></a>
    </div>
{% endblock %}
