.navigation {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.navigation li {
  display: block;
}

.navigation li a {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

@media (max-width: 768px) {
  .navigation {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
  }
}
