{% extends 'common/base.html' %}
{% load static %}
{% block title %}Любими | Rocco Woodwork{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static "css/wishlist/wishlist.css" %}">
{% endblock %}
{% block content %}
    <div class="container">
        {% if object_list.count > 0 %}
            <h1>Любими</h1>
            <div class="products">
                {% for product in object_list %}
                    <div class="product">
                        <div class="image-container">
                            <a href="{% url 'product_details' slug=product.slug %}">
                                <img src="{{ product.thumbnail_image_url }}"
                                     alt="{{ product.name }}"
                                     loading="lazy"
                                     class="image" />
                            </a>
                        </div>
                        <div class="product-info">
                            <a href="{% url 'product_details' slug=product.slug %}">
                                <p class="product-name">{{ product.name }}</p>
                            </a>
                            <p class="product-price">{{ product.price }} лв.</p>
                        </div>
                        <form method="post" action="{% url 'add_to_cart' slug=product.slug %}">
                            {% csrf_token %}
                            <input type="hidden" name="redirect_to" value="{{ request.get_full_path }}">
                            <button type="submit" class="button">
                                <i class="fa-solid fa-cart-shopping"></i> Добави
                            </button>
                        </form>
                        {% include "products/heart.html" %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h1>Няма продукти в Любими</h1>
        {% endif %}
    </div>
{% endblock %}
