.cart-products {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-product {
  background-color: #f0ece0;
  display: flex;
}

.product-name {
  color: var(--dark-wood);
}

.categories {
  color: gray;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity a {
  color: var(--dark-wood);
  text-decoration: none;
  font-size: 25px;
}

.cart-product .container {
  width: calc(100% - 200px);
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  align-self: center;
}

.cart-product .container * {
  text-align: center;
  margin: auto;
}

.cart-product .container div:last-child a {
  text-decoration: none;
  color: var(--caramel);
}

main > div:last-child h2 {
  color: var(--dark-wood);
}

main > div:last-child {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

main > div:last-child a {
  text-decoration: none;
  color: var(--caramel);
  font-size: 20px;
}
