.main-wrapper {
  margin-top: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form button {
  margin-top: 5px;
  align-self: center;
}

button[type="submit"] {
  background-color: var(--dark-wood);
  border: none;
  color: #fff;
  padding: 7px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: var(--caramel);
}
