.blog-posts {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  gap: 30px;
}

.blog-post * {
  color: var(--dark-wood);
}

.blog-post {
  padding: 30px;
  background-color: var(--lighter);
  width: 600px;
}

.blog-post img {
  width: auto;
  height: auto;
  max-width: 100% !important;
  max-height: 100% !important;
  object-fit: cover;
}

.blog-title {
  font-weight: bold;
  font-size: 1.1rem;
}

.blog-post a {
  text-decoration: none;
}

.blog-post:hover a * {
  color: var(--caramel);
}

.blog-post:hover img {
  filter: brightness(90%);
}

@media screen and (max-width: 767px) {
  .blog-post {
    width: 80%;
  }
}
