{% extends 'common/base.html' %}
{% load static %}
{% block meta_description %}
    {% with category=request.resolver_match.kwargs.category %}
        Изберете изделия от масивна дървесина за вашия дом. Ръчно изработени дъски за сервиране, купи и други.
        {% if category %}Разгледайте {{ category }} и още.{% endif %}
    {% endwith %}
{% endblock %}
{% block meta_keywords %}
    {% with category=request.resolver_match.kwargs.category %}
        масивна дървесина, дървени продукти, дървен, дървена, ръчно, ръчна изработка
        {% if category %}
            , {{ category }}
        {% else %}
            , аксесоари, кутии за бижута, маси, мебели, дъски за сервиране, купи, кутии, промоционални, химикалки
        {% endif %}
    {% endwith %}
{% endblock %}
{% block title %}
    {% with category=request.resolver_match.kwargs.category %}
        Продукти
        {% if category %}- {{ category }}{% endif %}
    {% endwith %}
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/products/products.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        {% with page_category=request.resolver_match.kwargs.category %}
            <div class="top-section">
                <h1>
                    {% if page_category %}
                        {{ page_category }}
                    {% else %}
                        Всички
                    {% endif %}
                </h1>
                <div class="options">
                    <select class="button" onchange="redirectToCategory(this)">
                        <option value="" disabled selected hidden>Категории</option>
                        <option value="{% url 'products' %}">Всички</option>
                        {% for category in categories %}
                            <option value="{% url 'products_category' category=category %}">{{ category }}</option>
                        {% endfor %}
                    </select>
                    <form>
                        <select id="id_sort" name="sort" class="button" onchange="this.form.submit()">
                            <option value="" disabled selected hidden>Филтри</option>
                            {% for value, label in sort_form.fields.sort.choices %}
                                <option value="{{ value }}"
                                        {% if  request.GET.sort  == value %}selected{% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>
        {% endwith %}
        <div class="products">
            {% if page_obj %}
                {% for product in page_obj %}
                    <div class="product">
                        <div class="image-container">
                            <a href="{% url 'product_details' slug=product.slug %}">
                                <img src="{{ product.thumbnail_image_url }}" alt="{{ product.name }}">
                            </a>
                        </div>
                        <div>
                            <div class="info">
                                <a href="{% url 'product_details' slug=product.slug %}">
                                    <p>
                                        <strong>{{ product.name }}</strong>
                                    </p>
                                    <p>{{ product.price|floatformat:2 }} лв.</p>
                                </a>
                            </div>
                            <div class="cart">
                                <form method="post" action="{% url 'add_to_cart' slug=product.slug %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="redirect_to" value="{{ request.get_full_path }}">
                                    <button type="submit"
                                            class="button"
                                            {% if product.quantity == 0 and not product.pre_order %}disabled{% endif %}>
                                        Добави в количката
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Няма резултат</p>
            {% endif %}
        </div>
        {% include "products/pagination.html" %}
    </div>
    <script>
    function redirectToCategory(select) {
        const url = select.value;
        if (url) {
            window.location.href = url;
        }
    }
    </script>
{% endblock %}
