{% extends 'common/base.html' %}
{% load static compress %}
{% load common_filters %}
{% block title %}
    {% with category=request.resolver_match.kwargs.category %}
        {% if category %}
            {{ category }}
        {% else %}
            Всички Продукти
        {% endif %}
        | Rocco Woodwork
    {% endwith %}
{% endblock %}
{% block description %}
    {% with category=request.resolver_match.kwargs.category %}
        {% if category %}
            Изберете {{ category }} за вашия дом или за подарък. Ръчно изработени продукти от дърво.
        {% else %}
            Изберете ръчно изработени продукти от дърво за вашия дом или за подарък. Дървена дъска за рязане, дървена дъска за сервиране, дървена купа.
        {% endif %}
    {% endwith %}
{% endblock %}
{% block styles %}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'css/products/products.css' %}">
    {% endcompress %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="top-section">
            {% if request.resolver_match.kwargs.slug %}
                <h1>{{ categories|get_item:request.resolver_match.kwargs.slug }}</h1>
            {% else %}
                <h1>Всички</h1>
            {% endif %}
            <form>
                <select id="id_sort" name="sort" class="button" onchange="this.form.submit()">
                    <option value="" disabled selected hidden>Подреждане</option>
                    {% for value, label in sort_form.fields.sort.choices %}
                        <option value="{{ value }}"
                                {% if  request.GET.sort  == value %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
                <input type="hidden"
                       name="search_field"
                       value="{{ request.GET.search_field }}">
            </form>
        </div>
        <div class="products">
            {% if page_obj %}
                {% for product in page_obj %}
                    <div class="product">
                        <div class="image-container">
                            <a href="{% url 'product_details' slug=product.slug %}">
                                <img src="{{ product.thumbnail_image_url }}" alt="{{ product.name }}">
                            </a>
                        </div>
                        <div>
                            <div class="info">
                                <a href="{% url 'product_details' slug=product.slug %}">
                                    <p>
                                        <strong>{{ product.name }}</strong>
                                    </p>
                                    <p>{{ product.price|floatformat:2 }} лв.</p>
                                </a>
                            </div>
                            <div class="cart">
                                <form method="post" action="{% url 'add_to_cart' slug=product.slug %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="redirect_to" value="{{ request.get_full_path }}">
                                    <button type="submit"
                                            class="button"
                                            {% if not product.is_available %}disabled{% endif %}>
                                        Добави в количката
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Няма резултат</p>
            {% endif %}
        </div>
        {% include "products/pagination.html" %}
    </div>
{% endblock %}
