@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E9E4D0;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}

.content {
    max-width: 960px;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-icon {
    width: auto;
    max-height: 100px;
    margin-right: auto;
}

nav ul {
    display: flex;
    gap: 1em;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #504037;
}