main .container {
  display: flex;
  gap: 3em;
  flex-direction: column;
}

.fa-star {
  color: var(--orange);
}

/* Product */

.product {
  display: flex;
  justify-content: center;
  gap: 3em;
}

.product h1 {
  line-height: 1.2;
}

.price,
.available {
  color: var(--orange);
  font-size: 1.1em;
}

.product-info .description {
  margin-block: 1em;
}

.product-info .categories a {
  text-decoration: none;
  color: var(--orange);
}

/* Product Images Carousel */

.splide {
  flex-basis: 50%;
}

.splide img {
  width: 100% !important;
  height: 100% !important;
  aspect-ratio: 1/1;
  object-fit: contain;
}

/* Add To Cart */

.add-to-cart {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.add-to-cart input {
  width: 50%;
}

.add-to-cart .button {
  display: flex;
  align-items: center;
  gap: 0.5em;
  align-self: start;
}

/* Reviews */

.review .content {
  display: flex;
  justify-content: space-between;
}

.review .delete a {
  text-decoration: none;
}

.review .delete i {
  color: red;
}

.reviews form {
  align-items: unset;
}

.reviews form button {
  align-self: start;
}
