/* filters */

.filters {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  width: 20%;
}

.search {
  display: flex;
  justify-content: initial;
  align-items: initial;
  position: relative;
}

.search input {
  padding-right: 2em;
}

.search button {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  background: none;
  border: none;
}

.categories {
  display: flex;
  flex-direction: column;
}

.categories a {
  text-decoration: none;
  color: black;
}

.categories a:hover {
  color: var(--orange);
}

.price {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1em;
}

.price-range input {
  width: 45%;
}

.price button {
  align-self: start;
}

/* Price Slider */

.range {
  width: 100%;
}

.range-slider {
  position: relative;
  height: 5px;
  border-radius: 2px;
  background-color: rgb(0, 0, 0, 0.1);
}

.range-input input:focus {
  border: none !important;
}

.range-selected {
  height: 100%;
  left: 30%;
  right: 30%;
  position: absolute;
  border-radius: 5px;
  background-color: var(--orange);
}

.range-input {
  position: relative;
}

.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -7px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.range-input input::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: none;
  background-color: var(--white);
  border: 2px solid var(--orange);
  pointer-events: auto;
  -webkit-appearance: none;
}

.range-input input::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: none;
  background-color: var(--white);
  border: 2px solid var(--orange);
  pointer-events: auto;
  -moz-appearance: none;
}

.range-price {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  margin-top: 0.5em;
}

.range-price input {
  width: 40%;
  padding: 0.2em;
  border-radius: 0.5em;
  border-style: solid;
}

/* Products */

.products-section {
  display: flex;
  gap: 2em;
}

.products-section .pagination {
  display: none;
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5em;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 30%;
}

.product:hover .image-container {
  box-shadow: 0 0 0.5em 0 rgb(0, 0, 0, 0.5);
  transition: box-shadow 0.2s;
}

.product a {
  text-decoration: none;
  color: black;
}

.image-container {
  margin-bottom: 0.5em;
}

.image-container img {
  aspect-ratio: 1/1;
}

.product-info {
  text-align: center;
}

.product-price::after {
  content: "";
  display: block;
  height: 2px;
  background: var(--orange);
  width: 100%;
}

/* Pagination */

.pagination {
  display: flex;
  margin-top: 2em;
  align-items: flex-end;
  justify-content: center;
  gap: 5px;
}

.pagination a {
  text-decoration: none;
}

.pagination-number {
  padding: 0.4em 0.8em;
  color: black;
  border: 1px solid rgb(0, 0, 0, 0.1);
  cursor: pointer;
}

.pagination a span {
  font-size: 25px;
  color: var(--dark-wood);
}

.pagination a span:hover {
  color: var(--orange);
}

.pagination-current {
  border: 1px solid black;
}

@media (max-width: 768px) {
  .products-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
  }

  .product {
    flex-basis: 46%;
  }

  .products-section .pagination {
    display: block;
    margin-top: 0;
  }

  .container > .pagination {
    display: none;
  }

  .products {
    order: 1;
  }

  .products-section .pagination {
    order: 2;
  }

  .filters {
    order: 3;
  }

  .filters {
    width: 75%;
  }
}
