{% load static %}
<link rel="stylesheet" href="{% static "css/products/heart.css" %}">
<a href="{% url 'heart' slug=product.slug %}" class="wishlist-heart">
    {% if request.user.is_authenticated %}
        {% if product in request.user.wishlist.products.all %}
            <i class="fa-solid fa-heart wishlist-heart button"></i>
        {% else %}
            <i class="fa-regular fa-heart wishlist-heart button"></i>
        {% endif %}
    {% else %}
        <i class="fa-regular fa-heart wishlist-heart button"></i>
    {% endif %}
</a>
