{% load static %}
<link rel="stylesheet" href="{% static "css/products/product.css" %}">
<div class="product light-box">
    <div class="heart-parent">
        {% include "products/heart.html" %}
        <a href="{% url 'product_details' slug=product.slug %}">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="image" />
        </a>
    </div>
    <a href="{% url 'product_details' slug=product.slug %}">
        <p class="product-name">{{ product.name }}</p>
    </a>
    <p class="product-price">${{ product.price|floatformat:2 }}</p>
    <a href="{% url 'add_to_cart' slug=product.slug %}" class="button">Add to cart</a>
</div>
