{% extends 'common/base.html' %}
{% load static %}
{% block title %}Products - WoodenWonders{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/products/products.css' %}">
    <link rel="stylesheet" href="{% static 'css/products/products-list.css' %}">
{% endblock %}
{% block content %}
    <h1 class="title">Products</h1>
    <div class="main-content">
        <div class="filters">
            <form method="get" action="{% url 'products' %}" class="form">
                <div class="search-field">
                    {{ search_form.search_field }}
                    <button type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
            <form method="get" action="{% url 'products' %}" class="form">
                <div class="form-error">{{ form.non_field_errors }}</div>
                <div class="label-with-input">
                    <label for="{{ form.categories.id_for_label }}">Categories</label>
                    {{ form.categories }}
                </div>
                <div class="label-with-input">
                    <label for="{{ form.min_price.id_for_label }}">Price Range</label>
                    <div class="price-range">
                        {{ form.min_price }}
                        <span class="price-range-hyphen">-</span>
                        {{ form.max_price }}
                    </div>
                </div>
                <button type="submit" class="button">Filter</button>
            </form>
        </div>
        {% if page_obj %}
            <ul class="products">
                {% for product in page_obj %}
                    <li>{% include "products/product.html" %}</li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="no-results-container">
                <h1>No results</h1>
            </div>
        {% endif %}
    </div>
    <div class="pagination">
        {% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number }}"><span>&lt;</span></a>{% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <span class="pagination-number pagination-current">{{ num }}</span>
            {% else %}
                <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}"><span>&gt;</span></a>{% endif %}
    </div>
{% endblock %}
