{% load static %}
<div class="product">
    <div>
        <a href="{% url 'heart' pk=product.pk %}">
            {% if request.user.is_authenticated %}
                {% if product in request.user.wishlist.products.all %}
                    <i class="fa-solid fa-heart wishlist-heart button"></i>
                {% else %}
                    <i class="fa-regular fa-heart wishlist-heart button"></i>
                {% endif %}
            {% else %}
                <i class="fa-regular fa-heart wishlist-heart button"></i>
            {% endif %}
        </a>
        <a href="{% url 'product' pk=product.pk %}">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="image" />
        </a>
    </div>
    <a href="{% url 'product' pk=product.pk %}">
        <p class="product-name">{{ product.name }}</p>
    </a>
    <p class="product-price">${{ product.price|floatformat:2 }}</p>
    <a href="{% url 'add_to_cart' pk=product.pk %}" class="button">Add to cart</a>
</div>
