{% extends 'common/base.html' %}
{% block title %}Забравена парола{% endblock %}
{% block content %}
    <p class="title">Въведете имейла си, ако имате регистрация с него, за да ви изпратим линк за сменяне на парола.</p>
    <form method="post" class="form" style="width: 30%; align-self: center;">
        {% csrf_token %}
        <input type="email"
               name="email"
               autocomplete="email"
               maxlength="254"
               required=""
               placeholder="Имейл"
               id="id_email">
        <input type="submit" class="button" value="Изпрати" />
    </form>
{% endblock %}
