{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}Wooden Wonders{% endblock %}
        </title>
        <link rel="stylesheet" href="{% static "css/bootstrap-alerts/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static 'css/common/base.css' %}">
        <link rel="icon" href="{% static "images/light-lumberjack-icon.png" %}" type="image/x-icon">
        <script src="https://kit.fontawesome.com/9c26499af3.js"
                crossorigin="anonymous"></script>
        {% block styles %}{% endblock %}
        <style>
    .lumberjack-icon:hover {
      content: url("{% static 'images/lumberjack-icon.png' %}");
    }
        </style>
    </head>
    <body>
        {% include "common/messages.html" %}
        <div class="nav-wrapper">
            <nav>
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/light-lumberjack-icon.png' %}"
                         alt="lumberjack icon"
                         class="navbar-icon lumberjack-icon">
                </a>
                <ul class="navigation-menu">
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'products' %}">Products</a>
                    </li>
                    <li>
                        <a href="{% url 'blog' %}">Blog</a>
                    </li>
                    <li>
                        <a href="{% url 'contacts' %}">Contacts</a>
                    </li>
                </ul>
                <ul class="action-menu">
                    <li>
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'user_details' %}"><i class="fa-solid fa-user"></i></a>
                        {% else %}
                            <a href="{% url 'login' %}"><i class="fa-solid fa-user"></i></a>
                        {% endif %}
                    </li>
                    <li>
                        <a href="{% url 'cart' %}">
                            {% if request.session.cart %}
                                {% with cart_quantity=request.session.cart|length %}
                                    <i class="fa-solid fa-cart-shopping" value="{{ cart_quantity }}"></i>
                                {% endwith %}
                            {% else %}
                                <i class="fa-solid fa-cart-shopping" value=""></i>
                            {% endif %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'wishlist' %}"><i class="fa-solid fa-heart"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="main-wrapper">
            <main>
                {% block content %}{% endblock %}
            </main>
        </div>
        <div class="footer-wrapper">
            <footer>
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/light-lumberjack-icon.png' %}"
                         alt="lumberjack icon"
                         class="lumberjack-icon">
                </a>
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'products' %}">Products</a>
                    </li>
                    <li>
                        <a href="{% url 'home' %}">Blog</a>
                    </li>
                    <li>
                        <a href="{% url 'home' %}">Contacts</a>
                    </li>
                </ul>
            </footer>
        </div>
        <script src="{% static 'javascript/dropdown-menu.js' %}"></script>
        <script src="{% static 'javascript/hide-alerts.js' %}"></script>
    </body>
</html>
