{% extends 'common/base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/common/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/products/products-list.css' %}">
    <link rel="stylesheet" href="{% static "css/products/product.css" %}">
    <link rel="stylesheet" href="{% static "css/products/heart.css" %}">
    <style>
  .banner {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url('{% static "images/wood-1200x630.jpg" %}'),
    no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
  }
    </style>
{% endblock %}
{% block content %}
    <div class="banner">
        <div>
            <p>
                Добре дошли в
                <span>J</span><span>e</span><span>p</span><span>e</span><span>t</span><span>o</span>
                <span>W</span><span>o</span><span>o</span><span>d</span><span>w</span><span>o</span><span>r</span><span>k</span>
            </p>
            <a href="{% url 'products' %}">Пазарувай</a>
        </div>
    </div>
    <div class="container">
        <div class="newest-arrivals">
            <h1>Последно добавени</h1>
            <ul class="products">
                {% for product in object_list %}
                    <li>{% include "products/product.html" %}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
