{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="copyright" content="Copyright © 2023 Jepeto Woodwork">
        <meta property="og:site_name" content="Jepeto Woodwork">
        <meta name="description"
              property="og:description"
              content="{% block meta_description %}{% endblock %}">
        <meta name="keywords"
              content="{% block meta_keywords %}{% endblock %}">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        {% block meta %}
          <meta property="og:type" content="website">
          <meta property="og:image" content="{% block meta_image %}
          {% static "images/jepeto-logo.png" %}
          {% endblock %}">
        {% endblock %}
        <title property="og:title">
            {% block title %}Jepeto Woodwork | Ръчно изработени бутикови продукти от масивна дървесина{% endblock %}
        </title>
        <link rel="apple-touch-icon" sizes="180x180" href="{% static "images/apple-touch-icon.png" %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "images/favicon-32x32.png" %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static "images/favicon-16x16.png" %}">
        <link rel="manifest" href="{% static "/site.webmanifest" %}">
        <link rel="mask-icon" href="{% static "images/safari-pinned-tab.svg" %}" color="#5bbad5">
        <link rel="stylesheet" href="{% static "css/bootstrap-alerts/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static 'css/common/base.css' %}">
        <link rel="icon" href="{% static "images/light-jepeto-logo.png" %}" type="image/x-icon">
        <script src="https://kit.fontawesome.com/9c26499af3.js"
                crossorigin="anonymous"></script>
        {% block styles %}{% endblock %}
        <style>
    nav .jepeto-logo:hover {
      content: url("{% static 'images/jepeto-logo.png' %}");
    }
        </style>
    </head>
    <body>
        <div class="back-to-top button">
            <i class="fa-solid fa-arrow-up"></i>
        </div>
        <div class="nav-wrapper">
            <nav>
                <div class="mobile-navigation">
                    <div class="hamburger">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                    <a href="{% url 'home' %}">
                        <img src="{% static 'images/light-jepeto-logo.png' %}"
                             alt="jepeto logo"
                             class="jepeto-logo">
                    </a>
                </div>
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/light-jepeto-logo.png' %}"
                         alt="lumberjack icon"
                         class="jepeto-logo">
                </a>
                <ul class="navigation-menu">
                    <li>
                        <a href="{% url 'home' %}">Начало</a>
                    </li>
                    <li>
                        <a href="{% url 'products' %}">Продукти</a>
                    </li>
                    <li>
                        <a href="{% url 'blog' %}">Блог</a>
                    </li>
                    <li>
                        <a href="{% url 'contacts' %}">Контакти</a>
                    </li>
                    <li class="profile-link">
                        <a href="{% url 'user_details' %}">Профил</a>
                    </li>
                </ul>
                <ul class="action-menu">
                    <li class="profile-link">
                        <a href="{% url 'user_details' %}"><i class="fa-solid fa-user"></i></a>
                    </li>
                    <li>
                        <a href="{% url 'cart' %}">
                            {% if request.session.cart %}
                                {% with cart_quantity=request.session.cart|length %}
                                    <i class="fa-solid fa-cart-shopping" value="{{ cart_quantity }}"></i>
                                {% endwith %}
                            {% else %}
                                <i class="fa-solid fa-cart-shopping" value=""></i>
                            {% endif %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'wishlist' %}"><i class="fa-solid fa-heart"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="main-wrapper">
            {% include "common/messages.html" %}
            <main>
                {% block content %}{% endblock %}
            </main>
        </div>
        <div class="footer-wrapper">
            <footer>
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/light-jepeto-logo.png' %}"
                         alt="jepeto logo"
                         class="jepeto-logo">
                </a>
              <div>
                  <ul class="social">
                    <li><a href="https://www.facebook.com/jepeto.woodwork"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/jepeto.woodwork"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="https://api.whatsapp.com/send?phone=359888861071"><i class="fa-brands fa-whatsapp"></i></a></li>
                  </ul>
                  <ul>
                      <li>
                          <a href="{% url 'about_us' %}">За нас</a>
                      </li>
                      <li>
                          <a href="{% url 'faq' %}">Често задавани въпроси</a>
                      </li>
                      <li>
                          <a href="{% url 'privacy_policy' %}">Политика за поверителност</a>
                      </li>
                      <li>
                          <a href="{% url 'terms_of_use' %}">Условия за ползване</a>
                      </li>
                  </ul>
                  <p class="copyright"></p>
              </div>
            </footer>
        </div>
        <script>
          const date = new Date();
          const currentYear = date.getFullYear();
          const copyrightElement = document.querySelector(".copyright");
          const copyrightMessage = `&copy; ${currentYear} Jepeto Woodwork`;
          copyrightElement.innerHTML = copyrightMessage;
        </script>
        <script src="{% static 'javascript/dropdown-menu.js' %}"></script>
        <script src="{% static 'javascript/hide-alerts.js' %}"></script>
        <script src="{% static "javascript/hide-show-navbar-and-arrow.js" %}"></script>
    </body>
</html>
