{% extends "common/base.html" %}
{% load static %}
{% load cache %}
{% cache 604800 faq %}
{% block meta_description %}
    Търсите отговори на въпроси за поръчки, доставка, гравиране и други? Научете повече в нашата секция "Често задавани въпроси".
{% endblock %}
{% block meta_keywords %}често задавани въпроси, поръчки, доставка, гравиране, контакти, Jepeto Woodwork{% endblock %}
{% block title %}Често задавани въпроси | Jepeto Woodwork{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static "css/common/ul-style.css" %}">
{% endblock %}
{% block content %}
    <h1 class="title">Често задавани въпроси</h1>
    <ul class="ul-style">
        <li>
            <span>Как мога да поръчам?</span>
            <p>
                Можете да поръчате избраните изделия през Вашата количка за пазаруване в сайта.
                <br>
                Можете да направите поръчка и като се свържете с нас на посочените данни за контакт.
            </p>
        </li>
        <li>
            <span>Кога да очаквам доставката?</span>
            <p>
                Изпращаме всички изделия до всяка точка на България със Speedy или Еконт в срок до 1-2 работни дни.
                <br>
                За изделия с големи размери (напр. маси), ще се свържем с Вас, за да уточним подходящ начин на доставка.
                <br>
                За София е възможно лично предаване на изделия.
            </p>
        </li>
        <li>
            <span>Мога ли да отпечатам собствено изображение/текст върху изделие?</span>
            <p>
                Да, услугата гравиране се предлага за част от продуктите. Максималният размер на гравиране е 8х8 см. Изпратете ни изображение/текст и ние ще се свържем с Вас, за да уточним детайлите.
            </p>
        </li>
        <li>
            <span>Мога ли да поръчам изделие по собствен проект?</span>
            <p>Да, можете да поръчате изделие по Ваш проект. Изпратете ни чертеж с размери и ние ще се свържем с Вас.</p>
        </li>
        <li>
            <span>Как мога да извърша плащане?</span>
            <p>
                В момента можете да извършите плащане по два начина:
                <br>
                1. Чрез наложен платеж – плащане при доставка на куриера.
                <br>
                2. Чрез банков превод – изпращаме поръчката, след като получим превода. Моля посочете номера на поръчката в основанието за плащане. Превеждате само стойноста на поръчката, стойността на доставката се заплаща на куриерите.
            </p>
        </li>
        <li>
            <span>Какво да направя, ако изделието има дефекти?</span>
            <p>
                Всяко изделие на Jepeto Woodwork е уникално и преминава през няколко нива на контрол за качество. Ние гарантираме, че всяко изделие на Jepeto Woodwork е без дефекти. Въпреки че изпращаме изделията изключително добре опаковани и защитени, при обработката на изделията от куриер е възможно да бъдат причинени козметични дефекти. Поради тази причина, Вие имате възможност за детайлен преглед на всяко изделие при получаването му от куриер. Ако в рамките на такъв преглед установите дефекти на изделието, можете да откажете да приемете поръчката и да ни върнете изделието.
                <br>
                Ако в рамките на нормалната употреба на изделието съобразно предназначението му, се появят дефекти, <a href="{% url 'contacts' %}">свържете с нас</a> и заедно ще намерим подходящ начин, за да сме сигурни, че ще сте доволни от изделието. Нормалната употреба на дървени изделия изключва употребата им в среда с висока влажност (с изключение на дъски за рязане), продължителното им подлагане на висока температура, почистването им в миялни машини, съхранението им на открито (при директна слънчева светлина, дъжд, сняг), подлагане на силни механични усилия и др. подобни въздействия, които са несъвместими с използваните в изделията материали.
            </p>
        </li>
        <li>
            <span>Как да се свържете с нас?</span>
            <p>
                Чрез формата или данните за контакт, посочени <a href="{% url 'contacts' %}">тук</a>.
            </p>
        </li>
    </ul>
{% endblock %}
{% endcache %}
