{% extends "common/base.html" %}
{% load static %}
{% block title %}Условия за ползване | JepetoWoodwork{% endblock %}
{% block styles %}
    <style>
a {
  color: var(--caramel);
  text-decoration: none;
}
    </style>
{% endblock %}
{% block content %}
    <h1 class="title">Условия за ползване</h1>
    <p style="margin: 20px;">
        1. Настоящите условия за ползване са предназначени за регулиране на отношенията между Jepeto Woodwork и неговите регистрирани потребители и ползватели, по-долу наричани „Ползватели“.
        <br>
        <br>
        2. Jepeto Woodwork e платформа, достъпна на адрес в Интернет www.jepeto.eu (по-долу само „Jepeto Woodwork“), чрез която Ползвателите имат възможност да разглеждат и извършват поръчка на предлаганите от Jepeto Woodwork в платформата изделия, включително следното:
        <br>
        <br>
        да извършат регистрация и създаване на профил;
        <br>
        да преглеждат изделията, техните характеристики, цени и условия за доставка;
        <br>
        да извършват поръчка на предлаганите изделия;
        <br>
        да получават информация за нови изделия, предлагани от Jepeto Woodwork;
        <br>
        да извършват контакт и отправят запитвания до Jepeto Woodwork.
        <br>
        <br>
        3. При направена поръчка Jepeto Woodwork организира доставката на поръчаните изделия. Ползвателите имат право да поправят грешки при въвеждането на информация не по-късно от предаване на изделията на куриер. Предполага се, че електронните изявления, извършени от Ползвателите на сайта са извършени от лицата, посочени в данните, предоставени от Ползвателя при извършване на регистрация, ако Ползвателят е въвел съответното име и парола за достъп.
        <br>
        <br>
        4. Ползвателите заплащат на Jepeto Woodwork възнаграждение за доставените изделия в размер на цената, обявена на сайта за конкретното изделие.
        <br>
        <br>
        5. За да използва www.jepeto.eu за поръчка на изделия, Ползвателят следва да въведе избрани от него име и парола за отдалечен достъп. Името и паролата за отдалечен достъп се определят от Ползвателя, чрез извършване на онлайн регистрация в сайта на Jepeto Woodwork. При извършване на регистрацията или поръчката Ползвателят се задължава да предостави верни и актуални данни. Ползвателят се задължава при промяна своевременно да актуализира данните, посочени в регистрацията или поръчката си.
        <br>
        <br>
        6. С попълване на данните си в потребителската кошница и натискане на бутона „Поръчай“, Ползвателят декларира, че е запознат с тези общи условия, съгласен е с тяхното съдържание и се задължава да ги спазва.  В случаите на поръчка на изделия без извършване на регистрация от страна на Ползвателя, последният приема тези общи условия в момента на доставката. Счита се, че Ползвателят е приел настоящите общи условия с приемането на доставката на изделията.
        <br>
        <br>
        7. Ползвателите извършват поръчка на изделията по следната процедура:
        <br>
        <br>
        влизане в системата за извършване на поръчки;
        <br>
        избиране на едно или повече от предлаганите от Jepeto Woodwork изделия и добавянето им към списък с изделия за поръчка;
        <br>
        предоставяне на необходимите данни за индивидуализация на Ползвателя;
        <br>
        предоставяне на данни за извършване на доставката;
        <br>
        избор на способ и момент за плащане;
        <br>
        потвърждение на поръчката.
        <br>
        <br>
        8. Ползвател има право, без да дължи обезщетение или неустойка и без да посочва причина, да се откаже от поръчка по всяко време преди предаване на изделията на куриер.
        <br>
        <br>
        9. Ползвателят е длъжен да прегледа изделието в момента на доставката и предаването и ако не отговаря на изискванията да уведоми за това незабавно Jepeto Woodwork чрез <a href="{% url 'contacts' %}">данните за контакт</a>. Ако Ползвателят не уведоми Jepeto Woodwork изделието се смята за одобрена като съответстващо на изискванията.
        <br>
        <br>
        10. Събирането, съхранението и обработването на лични данни се осъществява съобразно Политиката на Jepeto Woodwork за поверителност на личните данни, която е достъпна <a href="{% url 'privacy_policy' %}">тук</a>. Въведените от Ползвателите лични данни са обект на защита по Закона за защита на личните данни и Общия регламент 2016/679 като Доставчикът ги обработва единствено за целите и в сроковете, предвидени в <a href="{% url 'privacy_policy' %}">Политиката за поверителност на личните данни</a>.
    </p>
{% endblock %}
