{% extends "common/base.html" %}
{% load static %}
{% block meta_description %}
    Промяна на паролата на вашия акаунт в Jepeto Woodwork. Защитете своя акаунт чрез сигурна и уникална парола за по-добра сигурност.
{% endblock %}
{% block meta_keywords %}промяна на парола, сигурност, акаунт, акаунт на потребител, смяна на парола{% endblock %}
{% block title %}Смяна на парола| Jepeto Woodwork{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static "css/users/change_password.css" %}">
{% endblock %}
{% block content %}
    {% include "users/base-details.html" %}
    <div class="content">
        <form method="post" action="{% url 'change_password' %}" class="form">
            {% csrf_token %}
            {% for field in form %}
                {% if field.errors %}<p>{{ field.errors }}</p>{% endif %}
                {{ field }}
            {% endfor %}
            <button type="submit" class="button">Смени парола</button>
        </form>
    </div>
{% endblock %}
