{% extends 'common/base.html' %}
{% load static %}
{% block meta_description %}
    Преглед и редакция на вашите лични данни и профилна информация в Jepeto Woodwork.
{% endblock %}
{% block meta_keywords %}лични данни, профил, редакция, информация, акаунт, настройки, преглед{% endblock %}
{% block title %}Профил | Jepeto Woodwork{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static "css/users/base-details.css" %}">
{% endblock %}
{% block content %}
    {% include "users/base-details.html" %}
    <div class="content">
        <h2>{{ request.user }}</h2>
        <p>Включил се на: {{ request.user.date_joined|date:"m.d.Y" }}</p>
        {% if request.user.savedcheckoutinformation %}
            <a href="{% url 'saved_checkout_information' %}" class="button">Запазена информация за поръчки</a>
        {% endif %}
    </div>
{% endblock %}
