{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="copyright" content="Copyright © 2023 Ros Woodwork">
        <meta property="og:site_name" content="Ros Woodwork">
        <meta name="description"
              property="og:description"
              content="{% block meta_description %}{% endblock %}">
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        {% block meta %}
            <meta property="og:type" content="website">
            <meta property="og:image" content="{% block meta_image %} {% static "images/ros-woodwork.svg" %} {% endblock %}">
        {% endblock %}
        <title property="og:title">
            {% block title %}Ros Woodwork | Ръчно изработени изделия масивна дървесина{% endblock %}
        </title>
        <link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static "images/apple-touch-icon.png" %}">
        <link rel="manifest" href="{% static "/site.webmanifest" %}">
        <link rel="mask-icon" href="{% static "images/safari-pinned-tab.svg" %}" color="#5bbad5">
        <link rel="stylesheet" href="{% static "css/bootstrap-alerts/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static 'css/common/base.css' %}">
        <script src="https://kit.fontawesome.com/9c26499af3.js"
                crossorigin="anonymous"></script>
        {% block styles %}{% endblock %}
    </head>
    <body>
        <div class="back-to-top button">
            <i class="fa-solid fa-arrow-up"></i>
        </div>
        <nav class="main-nav">
            <div class="container">
                <ul class="nav-links">
                    <li>
                        <a href="{% url 'home' %}">Начало</a>
                    </li>
                    <li>
                        <a href="{% url 'products' %}">Продукти</a>
                    </li>
                    <li>
                        <a href="{% url 'blog' %}">Блог</a>
                    </li>
                    <li class="mobile-link">
                        <a href="{% url 'contacts' %}">Контакти</a>
                    </li>
                    <li class="mobile-link">
                        <a href="{% url 'user_details' %}">Профил</a>
                    </li>
                </ul>
                <div class="logo-container">
                    <img src="{% static "images/ros-woodwork.svg" %}" class="logo" alt="logo">
                    <img src="{% static "images/ros-woodwork-white.svg" %}" class="logo white" alt="logo">
                </div>
                <ul class="icon-navigation">
                    <li>
                        <a href="{% url 'user_details' %}"><i class="fa-solid fa-user"></i></a>
                    </li>
                    <li>
                        <a href="{% url 'cart' %}">
                            {% if request.session.cart %}
                                {% with cart_quantity=request.session.cart|length %}
                                    <img src="{% static "images/cart-icon.svg" %}" value="{{ cart_quantity }}" alt="">
                                {% endwith %}
                            {% else %}
                                {% include "common/shopping-cart.html" %}
                            {% endif %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'wishlist' %}"><i class="fa-solid fa-heart"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
        {% include "common/messages.html" %}
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <div class="container">
                <div class="logo-container">
                    <img src="{% static "images/ros-woodwork-white.svg" %}" class="logo" alt="logo">
                    <div class="copyright">
                        <p>
                            Copyright &copy; <span class="year"></span> Ros Woodwork
                        </p>
                    </div>
                </div>
                <ul class="footer-nav">
                    <li>
                        <a href="{% url 'contacts' %}">Контакти</a>
                    </li>
                    <li>
                        <a href="{% url 'about_us' %}">За нас</a>
                    </li>
                    <li>
                        <a href="{% url 'privacy_policy' %}">Политика за поверителност</a>
                    </li>
                    <li>
                        <a href="{% url 'terms_of_use' %}">Условия за ползване</a>
                    </li>
                    <li>
                        <a href="{% url 'faq' %}">Често задавани въпроси</a>
                    </li>
                </ul>
            </div>
        </footer>
        <script>
          const copyrightElement = document.querySelector(".copyright .year");
          const date = new Date();
          const currentYear = date.getFullYear();

          copyrightElement.textContent = currentYear;
        </script>
        <!-- <script src="{% static 'javascript/dropdown-menu.js' %}"></script> -->
        <!-- <script src="{% static 'javascript/hide-alerts.js' %}"></script> -->
        <!-- <script src="{% static "javascript/hide-show-navbar-and-arrow.js" %}"></script> -->
    </body>
</html>
