.ul-style {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
}

.ul-style li {
  list-style: none;
}

.ul-style li span {
  font-weight: bold;
}

.ul-style li a {
  text-decoration: none;
  color: var(--caramel);
}
