{% extends 'common/base.html' %}
{% load static %}
{% block title %}Продукти | Jepeto Woodwork{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/products/products.css' %}">
    <link rel="stylesheet" href="{% static 'css/products/products-list.css' %}">
    <link rel="stylesheet" href="{% static "css/products/product.css" %}">
    <link rel="stylesheet" href="{% static "css/products/heart.css" %}">
{% endblock %}
{% block content %}
    <h1 class="title">Продукти</h1>
    <div class="main-content">
        <div class="filters light-box">
            <form method="get" action="{% url 'products' %}" class="form">
                <div class="search-field">
                    {{ search_form.search_field }}
                    <button type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
            <div class="categories">
                <a href="{% url 'products' %}"
                   {% if request.resolver_match.kwargs.category == category %}style="color: var(--caramel)"{% endif %}>Всички</a>
                {% for category in categories %}
                    <a href="{% url 'products_category' category=category %}"
                       {% if request.resolver_match.kwargs.category == category %}style="color: var(--caramel)"{% endif %}>{{ category }}</a>
                {% endfor %}
            </div>
            <form method="get" class="form">
                <div class="form-error">{{ form.non_field_errors }}</div>
                <div class="label-with-input">
                    <label for="{{ form.min_price.id_for_label }}">Цена</label>
                    <div class="price-range">
                        {{ form.min_price }}
                        <span class="price-range-hyphen">-</span>
                        {{ form.max_price }}
                    </div>
                </div>
                <button type="submit" class="button">Филтър</button>
            </form>
        </div>
        {% if page_obj %}
            <ul class="products">
                {% for product in page_obj %}
                    <li>{% include "products/product.html" %}</li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="no-results-container">
                <h1>Няма резултат</h1>
            </div>
        {% endif %}
    </div>
    <div class="pagination">
        {% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number }}"><span>&lt;</span></a>{% endif %}
        {% if page_obj.number > 3 %}
            <a class="pagination-number" href="?page=1">1</a>
            <span class="pagination-ellipsis">...</span>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                {% if page_obj.number == num %}
                    <span class="pagination-number pagination-current">{{ num }}</span>
                {% else %}
                    <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
            <span class="pagination-ellipsis">...</span>
            <a class="pagination-number"
               href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
        {% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}"><span>&gt;</span></a>{% endif %}
    </div>
{% endblock %}
