{% extends 'common/base.html' %}
{% load static %}
{% block meta_description %}
    {% with category=request.resolver_match.kwargs.category %}
        Изберете изделия от масивна дървесина за вашия дом. Ръчно изработени дъски за сервиране, купи и други.
        {% if category %}Разгледайте {{ category }} и още.{% endif %}
    {% endwith %}
{% endblock %}
{% block meta_keywords %}
    {% with category=request.resolver_match.kwargs.category %}
        масивна дървесина, дървени продукти, дървен, дървена, ръчно, ръчна изработка
        {% if category %}
            , {{ category }}
        {% else %}
            , аксесоари, кутии за бижута, маси, мебели, дъски за сервиране, купи, кутии, промоционални, химикалки
        {% endif %}
    {% endwith %}
{% endblock %}
{% block title %}
    {% with category=request.resolver_match.kwargs.category %}
        Изделия от масивна дървесина
        {% if category %}- {{ category }}{% endif %}
        | Ros Woodwork
    {% endwith %}
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/products/products.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/products/products-list.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static "css/products/product.css" %}"> -->
    <!-- <link rel="stylesheet" href="{% static "css/products/heart.css" %}"> -->
{% endblock %}
{% block content %}
    <div class="container">
        <div class="products-section">
            <div class="filters">
                <form method="get" action="{% url 'products' %}" class="form search">
                    {{ search_form.search_field }}
                    <button type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
                {% with page_category=request.resolver_match.kwargs.category %}
                    <div class="categories">
                        <a href="{% url 'products' %}"
                           {% if not page_category %}style="color: var(--orange)"{% endif %}>Всички</a>
                        {% for category in categories %}
                            <a href="{% url 'products_category' category=category %}"
                               {% if page_category == category %}style="color: var(--orange)"{% endif %}>{{ category }}</a>
                        {% endfor %}
                    </div>
                {% endwith %}
                <form method="get" class="form price">
                    {% if form.non_field_errors %}<div class="form-error">{{ form.non_field_errors }}</div>{% endif %}
                    <div class="range">
                        <div class="range-slider">
                            <span class="range-selected"></span>
                        </div>
                        <div class="range-input">
                            <input type="range"
                                   id="id_min_price"
                                   name="min_price"
                                   class="min"
                                   min="0"
                                   max="500"
                                   value="0"
                                   step="10">
                            <input type="range"
                                   id="id_max_price"
                                   name="max_price"
                                   class="max"
                                   min="0"
                                   max="500"
                                   value="500"
                                   step="10">
                        </div>
                        <div class="range-price">
                            <input type="number" class="min" min="0" max="500" value="0" step="10">
                            <input type="number" class="max" min="0" max="500" value="500" step="10">
                        </div>
                    </div>
                    <button type="submit" class="button">Филтър</button>
                </form>
            </div>
            {% if page_obj %}
                <div class="products">
                    {% for product in page_obj %}
                        <div class="product">
                            <div class="image-container">
                                <a href="{% url 'product_details' slug=product.slug %}">
                                    <img src="{{ product.thumbnail_image_url }}"
                                         alt="{{ product.name }}"
                                         loading="lazy"
                                         class="image" />
                                </a>
                            </div>
                            <div class="product-info">
                                <a href="{% url 'product_details' slug=product.slug %}">
                                    <p class="product-name">{{ product.name }}</p>
                                </a>
                                <p class="product-price">{{ product.price }} лв.</p>
                            </div>
                            <form method="post" action="{% url 'add_to_cart' slug=product.slug %}">
                                {% csrf_token %}
                                <input type="hidden" name="redirect_to" value="{{ request.get_full_path }}">
                                <button type="submit" class="button">
                                    <i class="fa-solid fa-cart-shopping"></i> Добави
                                </button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <h2>Няма резултат</h2>
            {% endif %}
            {% include "products/pagination.html" %}
        </div>
        {% include "products/pagination.html" %}
    </div>
    <script src="{% static "javascript/price-slider.js" %}"></script>
{% endblock %}
