{% extends 'common/base.html' %}
{% load static %}
{% load product_filters %}
{% block title %}Cart - WoodenWonders{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/cart/cart.css' %}">
{% endblock %}
{% block content %}
    {% if cart_products %}
        <div class="cart-products">
            {% for product, quantity in cart_products.items %}
                <div class="cart-product">
                    <a href="{% url 'product' pk=product.pk %}">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="image">
                    </a>
                    <div class="container">
                        <div class="product-information">
                            <a href="{% url 'product' pk=product.pk %}">
                                <h4 class="product-name">{{ product.name }}</h4>
                            </a>
                            <p class="categories">{{ product.categories.all|join:", " }}</p>
                        </div>
                        <div class="quantity">
                            <a href="{% url 'decrease_quantity' pk=product.pk %}">&minus;</a>
                            <p>{{ quantity }}</p>
                            <a href="{% url "add_to_cart" pk=product.pk %}">&plus;</a>
                        </div>
                        <div>
                            <p>${{ product.price|calculate_total_price:quantity }}</p>
                            <a href="{% url 'remove_product' pk=product.pk %}">remove</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div>
            <h3>Total: ${{ total_price|floatformat:2 }}</h3>
            <a href="{% url "checkout" %}">Checkout</a>
        </div>
    {% else %}
        <h1 style="align-self: center; color: var(--dark-wood);">No Products In Cart</h1>
    {% endif %}
{% endblock %}
