{% extends "common/base.html" %}
{% load static %}
{% block title %}{{ object.title }} - WoodenWonders{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static "css/blog/blog-details.css" %}">
{% endblock %}
{% block content %}
    <div class="blog-details">
        <h3 class="title">{{ object.title }}</h3>
        <p>{{ object.content }}</p>
        <img src="{{ object.image.url }}" alt="{{ object.title }}" class="image">
        <div class="comments-reviews light-box">
            <h3>Comments</h3>
            <div class="main-content">
                {% for comment in object.blogcomment_set.all %}
                    <div class="comment">
                        <p>
                            <b>Commented on {{ comment.created_on|date }}</b>
                        </p>
                        <p>{{ comment.comment }}</p>
                    </div>
                {% empty %}
                    <p>There are no comments yet.</p>
                {% endfor %}
            </div>
            <form method="post" class="form" action="{% url 'blog_details' slug=object.slug %}" {% csrf_token %} {% for field in blogcommentform %}{{ field }}{% endfor %} {% csrf_token %}
                <button type="submit" class="button">Comment</button>
            </form>
        </div>
    </div>
{% endblock %}
