@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("typography.css");
@import url("form.css");
@import url("button.css");

:root {
  --nav-height: 77px;
  --orange: #d9965b;
  --brown: #504037;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

main {
  flex: 1;
}

.mobile-link,
.back-to-top,
.user-details,
.logo.white,
.nav-btn {
  display: none !important;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 1em 2em;
}

/* Navigation */

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container a {
  display: flex;
}

.logo {
  width: 200px;
  height: auto;
  text-align: center;
}

.logo.white path {
  fill: white;
}

.main-nav {
  position: sticky;
  top: 0;
  overflow: visible;
  z-index: 100;
  background-color: white;
  padding-block: 0.5em;
  box-shadow: 0 0 1em rgb(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.main-nav .container {
  display: flex;
}

.main-nav .container > * {
  flex: 1;
}

.main-nav li {
  display: block;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1em;
}

.main-nav a {
  text-decoration: none;
}

.icon-navigation {
  display: flex;
  gap: 1em;
  justify-content: flex-end;
  align-items: center;
}

.icon-navigation a {
  display: flex;
}

.icon-navigation i {
  width: 1em;
}

.main-nav a,
.main-nav i {
  color: black;
}

.main-nav .cart {
  position: relative;
}

.main-nav .cart::after {
  content: attr(value);
  position: absolute;
  top: -5px;
  right: -10px;
  font-size: 10px;
  font-weight: bold;
  min-width: 15px;
  text-align: center;
  background: black;
  color: white;
  border-radius: 12px;
}

.main-nav .cart[value=""]::after {
  display: none;
}

.nav-links li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s;
}

.nav-links li:hover::after {
  width: 100%;
}

.main-nav i {
  font-weight: lighter;
}

/* Footer */

footer {
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

footer .logo-container {
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

footer .logo {
  width: 150px;
}

footer .logo path {
  fill: white;
}

footer .logo-container p {
  font-size: 0.8em;
  opacity: 0.5;
}

.footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-nav li {
  border-right: 2px solid rgb(0, 0, 0, 0.5);
  padding-right: 0.5em;
  transition: border-color 0.2s;
}

.footer-nav li:hover a {
  color: var(--orange);
}

.footer-nav li:last-child {
  border: none;
}

.footer-nav a {
  color: black;
  text-decoration: none;
  transition: color 0.2s;
}

.footer-nav {
  display: flex;
  gap: 0.5em;
}

.footer-nav li {
  display: block;
}

/* .back-to-top { */
/*   position: fixed; */
/*   bottom: 20px; */
/*   right: 30px; */
/*   border-radius: 2px; */
/*   padding: 0 !important; */
/*   opacity: 0; */
/*   z-index: 1000; */
/* } */

/* .fa-arrow-up { */
/*   font-size: 20px; */
/*   margin: 10px; */
/* } */

/* Bootstrap Alert */

.container-fluid {
  position: sticky;
  top: calc(var(--nav-height) + 1em);
  left: 0;
  margin-bottom: 1em;
}

.errorlist li {
  color: red;
  display: block;
  max-width: 300px;
}

.errorlist {
  text-align: center;
}

@media (min-width: 1300px) {
  :root {
    --nav-height: 83px;
  }
}

@media (min-width: 1800px) {
  :root {
    --nav-height: 92px;
  }
}

@media (max-width: 768px) {
  :root {
    --nav-height: 72px;
  }

  .container {
    padding: 1em;
  }

  .icon-navigation li:first-child,
  .icon-navigation li:last-child {
    display: none;
  }

  .nav-links {
    display: none;
  }

  .mobile-link {
    display: block !important;
  }

  .nav-btn {
    display: block !important;
    font-weight: bold !important;
    line-height: unset !important;
    cursor: pointer !important;
    transition: transform 0.2s ease;
    width: 1em;
  }

  .nav-btn.active {
    transform: skew(-15deg);
  }

  .logo {
    width: 130px !important;
  }

  .nav-links {
    display: flex;
    gap: 1.5em;
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: var(--nav-height);
    left: -100%;
    gap: 1em;
    background-color: white;
    padding: 0 1em 1em 1em;
    height: calc(100vh - var(--nav-height));
    transition: left 0.2s;
  }

  .nav-links.active {
    left: 0;
  }

  .overlay {
    position: absolute;
    inset: 0;
    z-index: 99;
    background: rgb(0, 0, 0, 0.3);
  }

  .footer-nav {
    flex-direction: column;
  }

  .footer-nav li {
    border-right: none;
    padding-right: 0;
    border-bottom: 2px solid rgb(0, 0, 0, 0.5) !important;
    padding-bottom: 0.3em;
  }

  .footer-nav li:hover {
    border-color: var(--orange) !important;
  }
}
