{% extends "common/base.html" %}
{% block title %}За нас | RoccoWoodwork{% endblock %}
{% block content %}
    <div class="container" style="text-align:center;">
        <h1 style="margin-bottom:1em;">За нас</h1>
        <p>
            Rocco Woodwork предлага ръчно изработени продукти от масивна дървесина.
            <br>
            Всички наши изделия са с уникален дизайн и модерна визия - стилен акцент за всеки дом.
            <br>
            За нас качеството и вниманието към детайла са на първо място.
        </p>
    </div>
{% endblock %}
