{% load static %}
<!DOCTYPE html>
<html lang="bg">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="description"
              property="og:description"
              content="{% block meta_description %}{% endblock %}">
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
        <meta property="og:site_name" content="Rocco Woodwork">
        <meta property="og:type" content="website">
        <title property="og:title">
            {% block title %}Rocco Woodwork | Ръчно изработени изделия от масивна дървесина{% endblock %}
        </title>
        <meta property="og:image" content="{% block meta_image %}{% static "images/ros-woodwork.svg" %}{% endblock %}">
        {% block meta %}{% endblock %}
        <link rel="apple-touch-icon" sizes="180x180" href="{% static "/apple-touch-icon.png" %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "/favicon-32x32.png" %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static "/favicon-16x16.png" %}">
        <link rel="manifest" href="{% static "/site.webmanifest" %}"]>
        <link rel="stylesheet" href="{% static 'css/common/base.css' %}">
        {% block styles %}{% endblock %}
    </head>
    <body>
        {% include "common/navigation.html" %}
        <main>
            {% block content %}{% endblock %}
        </main>
        {% include "common/footer.html" %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <script src="{% static 'javascript/mobile-nav.js' %}"></script>
        <script src="{% static 'javascript/hide-messages.js' %}"></script>
        <script src="{% static 'javascript/toggleSearch.js' %}"></script>
    </body>
</html>
