{% load static compress %}
<!DOCTYPE html>
<html lang="bg">
    <head>
        <title>
            {% block title %}Ръчно изработени дървени изделия | Rocco Woodwork{% endblock %}
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="keywords"
              content="{% block keywords %}дървени изделия, ръчна изработка, купи, дъски, дъски за рязане, дъски за сервиране, маси, подарък от дърво{% endblock %}">
        <meta property="og:site_name" content="Rocco Woodwork">
        <meta property="og:type" content="website">
        {% block open_graph %}{% endblock %}
        <link rel="icon" type="image/png" href="{% static "/favicon-96x96.png" %}" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="{% static "/favicon.svg" %}" />
        <link rel="shortcut icon" href="{% static "/favicon.ico" %}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{% static "/apple-touch-icon.png" %}" />
        <meta name="apple-mobile-web-app-title" content="Rocco Woodwork" />
        <link rel="manifest" href={% static "/site.webmanifest" %} />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
              rel="stylesheet">
        {% compress css %}
            <link rel="stylesheet" href="{% static 'css/common/base.css' %}">
            <link rel="stylesheet" href="{% static 'css/common/typography.css' %}">
            <link rel="stylesheet" href="{% static 'css/common/form.css' %}">
            <link rel="stylesheet" href="{% static 'css/common/button.css' %}">
            <link rel="stylesheet" href="{% static 'css/common/navigation.css' %}">
            <link rel="stylesheet" href="{% static 'css/common/footer.css' %}">
        {% endcompress %}
        {% block styles %}{% endblock %}
    </head>
    <body>
        {% include "common/navigation.html" %}
        <main>
            {% block content %}{% endblock %}
        </main>
        {% include "common/footer.html" %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% compress js %}
            <script src="{% static 'javascript/toggleNav.js' %}"></script>
            <script src="{% static 'javascript/toggleNavCategories.js' %}"></script>
            <script src="{% static 'javascript/hideMessages.js' %}"></script>
            <script src="{% static 'javascript/toggleSearch.js' %}"></script>
        {% endcompress %}
    </body>
</html>
