{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="copyright" content="Copyright © 2023 Rocco Woodwork">
        <meta property="og:site_name" content="Rocco Woodwork">
        <meta name="description"
              property="og:description"
              content="{% block meta_description %}{% endblock %}">
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
        <meta name="theme-color" content="#d9965b">
        {% block meta %}
            <meta property="og:type" content="website">
            <meta property="og:image" content="{% block meta_image %} {% static "images/ros-woodwork.svg" %} {% endblock %}">
        {% endblock %}
        <title property="og:title">
            {% block title %}Rocco Woodwork | Ръчно изработени изделия от масивна дървесина{% endblock %}
        </title>
        <link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static "images/apple-touch-icon.png" %}">
        <link rel="manifest" href="{% static "/site.webmanifest" %}">
        <link rel="mask-icon" href="{% static "images/safari-pinned-tab.svg" %}" color="#5bbad5">
        <link rel="stylesheet" href="{% static "css/bootstrap-alerts/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static 'css/common/base.css' %}">
        <script src="https://kit.fontawesome.com/9c26499af3.js"
                crossorigin="anonymous"></script>
        {% block styles %}{% endblock %}
    </head>
    <body>
        <nav>
            <div class="container">
                <i class="fa-solid fa-bars nav-btn"></i>
                <ul class="nav-links">
                    <li>
                        <a href="{% url 'home' %}">Начало</a>
                    </li>
                    <li>
                        <a href="{% url 'products' %}">Продукти</a>
                    </li>
                    <li >
                        <a href="{% url 'contacts' %}">Контакти</a>
                    </li>
                    <li class="mobile-link">
                        <a href="{% url 'user_details' %}">Профил</a>
                    </li>
                                    </ul>
                <div class="logo-container">
                    <a href="{% url 'home' %}">
                        {% with "logo" as class %}
                            {% include "common/logo.html" %}
                        {% endwith %}
                        {% with "logo white" as class %}
                            {% include "common/logo.html" %}
                        {% endwith %}
                    </a>
                </div>
                <ul class="icon-navigation">
                    <li>
                        <a href="{% url 'user_details' %}">
				<svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
				  <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
				</svg>
			</a>
                    </li>
                    {% with cart_quantity=request.session.cart|length %}
                        {% if cart_quantity %}
                            <li value="{{ cart_quantity }}" class="cart">
                                <a href="{% url 'cart' %}"><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
  <path fill-rule="evenodd" d="M4 4a1 1 0 0 1 1-1h1.5a1 1 0 0 1 .979.796L7.939 6H19a1 1 0 0 1 .979 1.204l-1.25 6a1 1 0 0 1-.979.796H9.605l.208 1H17a3 3 0 1 1-2.83 2h-2.34a3 3 0 1 1-4.009-1.76L5.686 5H5a1 1 0 0 1-1-1Z" clip-rule="evenodd"/>
</svg>
</a>
                            </li>
                        {% else %}
                            <li value="" class="cart">
                                <a href="{% url 'cart' %}">
<svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
  <path fill-rule="evenodd" d="M4 4a1 1 0 0 1 1-1h1.5a1 1 0 0 1 .979.796L7.939 6H19a1 1 0 0 1 .979 1.204l-1.25 6a1 1 0 0 1-.979.796H9.605l.208 1H17a3 3 0 1 1-2.83 2h-2.34a3 3 0 1 1-4.009-1.76L5.686 5H5a1 1 0 0 1-1-1Z" clip-rule="evenodd"/>
</svg>
</a>
                            </li>
                        {% endif %}
                    {% endwith %}
                                    </ul>
            </div>
        </nav>
        {% include "common/messages.html" %}
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <div class="container">
                <ul class="footer-nav">
                    <li>
                        <a href="{% url 'contacts' %}">Контакти</a>
                    </li>
                    <li>
                        <a href="{% url 'about_us' %}">За нас</a>
                    </li>
                    <li>
                        <a href="{% url 'privacy_policy' %}">Политика за поверителност</a>
                    </li>
                    <li>
                        <a href="{% url 'terms_of_use' %}">Условия за ползване</a>
                    </li>
                    <li>
                        <a href="{% url 'faq' %}">Често задавани въпроси</a>
                    </li>
                </ul>
            </div>
        </footer>
        <script src="{% static "javascript/mobile-nav.js" %}"></script>
        <script src="{% static 'javascript/hide-alerts.js' %}"></script>
    </body>
</html>
