{% extends "common/base.html" %}
{% load static %}
{% block meta_description %}
    Търсите отговори на въпроси за поръчки, доставка, гравиране и други? Научете повече в нашата секция "Често задавани въпроси".
{% endblock %}
{% block meta_keywords %}често задавани въпроси, поръчки, доставка, гравиране, контакти, Rocco Woodwork{% endblock %}
{% block title %}Често задавани въпроси | Rocco Woodwork{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static "css/common/faq.css" %}">
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Често задавани въпроси</h1>
        <div class="faq">
            <div>
                <strong>Кога да очаквам доставката?</strong>
                <p>
                    Изпращаме всички изделия до всяка точка на България със Speedy или Еконт в срок до 1-2 работни дни. За София е възможно лично предаване на изделия.
                </p>
            </div>
            <div>
                <strong>Мога ли да поръчам изделие по собствен проект?</strong>
                <p>Да, можете да поръчате изделие по Ваш проект. Свържете се с нас, за да уточним проекта.</p>
            </div>
            <div>
                <strong>Как да се свържете с нас?</strong>
                <p>
                    Чрез формата или данните за контакт, посочени <a href="{% url 'contacts' %}">тук</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
