{% extends 'common/base.html' %}
{% load static %}
{% block styles %}
    <style>
	.banner {
	      background-image: url("static/images/hero-background.webp") 
	}
    </style>
    <link rel="stylesheet" href="{% static 'css/common/home.css' %}">
{% endblock %}
{% block content %}
    <div class="banner">
        <p>Ръчна изработка и отлично качество</p>
        <a href="{% url 'products' %}" class="button">Разгледай</a>
    </div>
    <div class="container our-products">
        <h2>Нашите продукти</h2>
        <div class="categories">
            <div class="category">
                <a href={% url "products_category" category="Купи" %}>
                    <img src={% static "images/category-1.webp" %} alt="Купи">
                    <p>Купи</p>
                </a>
            </div>
            <div class="category">
                <a href={% url "products_category" category="Дъски" %}>
                    <img src={% static "images/category-1.webp" %} alt="Дъски за сервиране">
                    <p>Дъски за сервиране</p>
                </a>
            </div>
            <div class="category">
                <a href={% url "products_category" category="Дъски" %}>
                    <img src={% static "images/category-1.webp" %} alt="Маси">
                    <p>Маси</p>
                </a>
            </div>
        </div>
    </div>
    <div class="container custom-projects">
        <h2>Проекти по поръчка</h2>
        <div class="info">
            <p>
                Rocco Woodwork предлага изработка на проекти по поръчка. Ако се нуждаете от персонализирано дървено изделие, ние сме готови да ви помогнем.
            </p>
            <a href={% url "contacts" %} class="button">Свържете се с нас</a>
        </div>
    </div>
    {% for product in object_list %}{% endfor %}
    <script src="{% static "javascript/changeNavColor.js" %}"></script>
{% endblock %}
