<svg
  viewBox="151.3109 157.12 197.375 118.637"
  width="197.375"
  height="118.637"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:bx="https://boxy-svg.com"
  class="logo"
>
  <defs>
    <style bx:fonts="Gloria Hallelujah">
      @import url(https://fonts.googleapis.com/css2?family=Gloria+Hallelujah%3Aital%2Cwght%400%2C400&amp;display=swap);
    </style>
  </defs>
  <text
    style="
      fill: rgb(51, 51, 51);
      font-family: &quot;Gloria Hallelujah&quot;;
      font-size: 52px;
      font-weight: 700;
      letter-spacing: 6px;
      text-transform: capitalize;
    "
    x="152.225"
    y="230.12"
    transform="matrix(1, 0, 0, 1, -5.684341886080802e-14, 0)"
  >
    ROCCO
  </text>
  <text
    style="
      fill: rgb(51, 51, 51);
      font-family: &quot;Gloria Hallelujah&quot;;
      font-size: 26px;
      font-weight: 700;
    "
    x="178.969"
    y="260.757"
    transform="matrix(1, 0, 0, 1, -5.684341886080802e-14, 0)"
  >
    WOODWORK
  </text>
</svg>
