{% extends "common/base.html" %}
{% load static %}
{% block title %}Политика за поверителност | RoccoWoodwork{% endblock %}
{% block description %}Политика за поверителност на Rocco Woodwork.{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static "css/common/privacy-policy.css" %}">
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Политика за поверителност</h1>
        <div class="privacy-policy">
            <div>
                <b>1. За нас</b>
                <p>
                    Rocco Woodwork обработва и съхранява Вашата информация в съответствие с приложимите изисквания и единствено за периода и целите, необходими за обработване на поръчката Ви, както и за да отговорим на Ваши последващи въпроси. Rocco Woodwork не споделяме лични данни с трети лица.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
