{% extends "common/base.html" %}
{% load static %}
{% block meta_description %}
    Научете как Rocco Woodwork обработва вашата лична информация чрез нашата политика за поверителност. Разберете кои данни събираме, как ги използваме и как гарантираме вашата поверителност.
{% endblock %}
{% block meta_keywords %}
    политика за поверителност, лични данни, защита на данните, информационна сигурност, поверителност на данни, правила за поверителност, информация за потребители
{% endblock %}
{% block title %}Политика за поверителност | RoccoWoodwork{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static "css/common/privacy-policy.css" %}">
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Политика за поверителност</h1>
        <div class="privacy-policy">
            <div>
                <strong>1. За нас</strong>
                <p>
                    Rocco Woodwork обработва и съхранява Вашата информация в съответствие с приложимите изисквания и единствено за периода и целите, необходими за обработване на поръчката Ви, както и за да отговорим на Ваши последващи въпроси. Rocco Woodwork не споделяме лични данни с трети лица.
                </p>
            </div>
            <div>
                <strong>2. Колко дълго държим личните ви данни</strong>
                <p>
                    За потребители, които се регистрират на нашия уебсайт, съхраняваме и личната информация, която предоставят в потребителския си профил. Всички потребители могат да виждат, редактират или изтриват личната си информация по всяко време.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
