main .container {
  display: flex;
  gap: 3em;
  flex-direction: column;
}

h2 {
  text-align: center;
  margin-bottom: 1em;
}

/* Product */

.product {
  display: flex;
  justify-content: center;
  gap: 3em;
}

.product h1 {
  line-height: 1.2;
}

.price,
.available {
  font-size: 1.1em;
}

.product-info .description {
  margin-block: 1em;
}

.product-info .categories a {
  text-decoration: none;
  color: var(--orange);
}

/* Product Images Carousel */

.splide {
  flex-basis: 50%;
}

.splide img {
  width: 100% !important;
  height: 100% !important;
  aspect-ratio: 1/1;
  object-fit: contain;
}

/* Add To Cart */

.add-to-cart {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.add-to-cart .button {
  display: flex;
  align-items: center;
  gap: 0.5em;
  align-self: start;
}

/* Reviews */

.fa-star {
  color: var(--orange);
}

.review:not(.review:last-of-type) {
  margin-bottom: 0.3em;
}

.review .content {
  display: flex;
  justify-content: space-between;
}

.review .delete a {
  text-decoration: none;
}

.review .delete i {
  color: red;
}

.reviews form {
  align-items: unset;
  margin-top: 1em;
}

.reviews form button {
  align-self: start;
}

/* Last Viewed */

.last-viewed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}

.viewed-product {
  flex-basis: 20%;
}

.viewed-product img {
  aspect-ratio: 1/1;
  margin-bottom: 0.5em;
}

.viewed-product p {
  opacity: 0.5;
  font-size: 0.8em;
}

@media (max-width: 768px) {
  .product {
    flex-direction: column;
  }

  .viewed-product {
    flex-basis: 47%;
  }
}
