{% extends 'common/base.html' %}
{% load static %}
{% load product_filters %}
{% block meta_description %}
    Вашата кошница с продукти в Jepeto Woodwork. Преглед на продуктите, които сте добавили към вашата кошница. Пригответе се за следващата стъпка в онлайн пазаруването с най-новите дизайни и стилни ръчно изработени продукти от масивна дървесина.
{% endblock %}
{% block meta_keywords %}
    кошница, пазаруване, продукти, добавени продукти, ръчно изработени, масивна дървесина, онлайн магазин, дървени изделия, електронна кошница
{% endblock %}
{% block title %}Количка | Jepeto Woodwork{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/cart/cart.css' %}">
{% endblock %}
{% block content %}
    {% if cart_products %}
        <h1 class="title">Количка</h1>
        <div class="cart-products">
            {% for product, quantity in cart_products.items %}
                <div class="cart-product">
                    <a href="{% url 'product_details' slug=product.slug %}">
                        <img src="{{ product.thumbnail_image_url }}"
                             alt="{{ product.name }}"
                             class="image">
                    </a>
                    <div class="container">
                        <div class="product-information">
                            <a href="{% url 'product_details' slug=product.slug %}">
                                <h4 class="product-name">{{ product.name }}</h4>
                            </a>
                            <p class="categories">{{ product.categories.all|join:", " }}</p>
                        </div>
                        <div class="quantity">
                            <a href="{% url 'decrease_quantity' slug=product.slug %}">&minus;</a>
                            <p>{{ quantity }}</p>
                            <a href="{% url "add_to_cart" slug=product.slug %}">&plus;</a>
                        </div>
                        <div>
                            <p>{{ product.price|calculate_total_price:quantity }} лв.</p>
                            <a href="{% url 'remove_product' slug=product.slug %}">Премахни</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div>
            <h3>{{ total_price|floatformat:2 }} лв.</h3>
            <a href="{% url "checkout" %}">Завършване на поръчката</a>
        </div>
    {% else %}
        <h1 class="title">Няма продукти в количката</h1>
    {% endif %}
{% endblock %}
