.form select option:first-of-type {
  color: #888;
}

.form {
  align-items: normal;
}

.form button {
  align-self: center;
}

.saved-checkout-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: fit-content;
  align-self: center;
  justify-content: center;
}

.fa-xmark {
  color: red;
  font-size: 20px;
}
