{% extends "common/base.html" %}
{% load static %}
{% block title %}Смяна на парола | Rocco Woodwork{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static "css/users/base-profile.css" %}">
    <link rel="stylesheet" href="{% static "css/users/change_password.css" %}">
{% endblock %}
{% block content %}
    <div class="container">
        {% include "users/navigation.html" %}
        <div class="content">
            <form method="post" action="{% url 'change_password' %}" class="form">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.errors %}<p>{{ field.errors }}</p>{% endif %}
                    {{ field }}
                {% endfor %}
                <button type="submit" class="button">Смени парола</button>
            </form>
        </div>
    </div>
{% endblock %}
