{% extends 'common/base.html' %}
{% load static %}
{% block title %}Поръчки | Rocco Woodwork{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static "css/users/base-profile.css" %}">
    <link rel="stylesheet" href="{% static "css/users/order-history.css" %}">
{% endblock %}
{% block content %}
    <div class="container">
        {% include "users/navigation.html" %}
        <div class="content">
            {% if object_list %}
                <div class="orders">
                    {% for order in object_list %}
                        <div class="order">
                            <p>
                                Създадена на: <strong>{{ order.created_on|date:"m.d.Y" }}</strong>
                            </p>
                            <p>
                                Номер на поръчка: <strong>{{ order.number }}</strong>
                            </p>
                            <ul class="products">
                                {% for ordered_product in order.orderproduct_set.all %}
                                    <li>
                                        <a href="{% url 'product_details' slug=ordered_product.product.slug %}">{{ ordered_product.product.name }}</a> &times; {{ ordered_product.quantity }} - {{ ordered_product.product_total }} лв.
                                    </li>
                                {% endfor %}
                            </ul>
                            <p>Общо: {{ order.total_price|floatformat:2 }} лв.</p>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>Няма поръчки</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
