{% extends 'common/base.html' %}
{% load static %}
{% block title %}Поръчки | Rocco Woodwork{% endblock %}
{% block meta_description %}Преглед на историята на вашите поръчки в Rocco Woodwork.{% endblock %}
{% block meta_keywords %}история на поръчки, предишни поръчки, поръчки, статус на поръчки{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static "css/users/order-history.css" %}">
{% endblock %}
{% block content %}
    <div class="container">
        {% include "users/base-details.html" %}
        <div class="content">
            {% if object_list %}
                <h1>Твоите поръчки</h1>
                <div class="orders">
                    {% for order in object_list %}
                        <div class="order">
                            <p>
                                Създадена на: <span>{{ order.created_on|date:"m.d.Y" }}</span>
                            </p>
                            <p>
                                Номер на поръчка: <span>{{ order.number }}</span>
                            </p>
                            <ul class="products">
                                {% for ordered_product in order.orderproduct_set.all %}
                                    <li>
                                        <p>
                                            <a href="{% url 'product_details' slug=ordered_product.product.slug %}">{{ ordered_product.product.name }}</a> &times; {{ ordered_product.quantity }} - {{ ordered_product.product_total }} лв.
                                        </p>
                                    </li>
                                {% endfor %}
                            </ul>
                            <p>Общо: {{ order.total_price|floatformat:2 }} лв.</p>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <h1>Няма поръчки</h1>
            {% endif %}
        </div>
    </div>
{% endblock %}
