{% extends "common/base.html" %}
{% load cache %}
{% load static %}
{% block meta_description %}
    Разгледайте статии и новини в блога на Rocco Woodwork. Нашите публикации включват интересни теми за продукти от дървесина, дизайн, творчество и модерен стил за вашия дом.
{% endblock %}
{% block meta_keywords %}
    блог, статии, новини, ръчно изработени, дървесина, дизайн, творчество, домашен декор, интериор, стил, съвети
{% endblock %}
{% block title %}Блог | Rocco Woodwork{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static "css/blog/blog.css" %}">
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Блог</h1>
        {% cache 604800 blog_posts %}
        <div class="posts">
            {% for blog_post in object_list %}
                <div class="post">
                    <a href="{% url "blog_details" blog_post.slug %}">
                        <img src="{{ blog_post.image.url }}" alt="{{ blog_post.title }}">
                    </a>
                    <div class="content">
                        <a href="{% url "blog_details" blog_post.slug %}">
                            <p class="title">{{ blog_post.title|truncatechars:50 }}</p>
                        </a>
                        <p class="blog-text">{{ blog_post.content|truncatechars:50 }}</p>
                        <p>
                            <i class="fa-regular fa-calendar-days"></i>
                            {{ blog_post.created_on|date:"m.d.Y" }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endcache %}
</div>
{% endblock %}
