h1 {
  text-align: center;
}

.checkout form {
  margin-top: 2em;
}

.checkout form > * {
  width: 50%;
  margin-inline: auto;
}

.checkout form > div > * {
  width: 100%;
}

.checkout form label {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row-reverse;
  padding-inline: 1em;
  margin-inline: auto;
  gap: 1em;
}

@media (max-width: 768px) {
  .checkout form > * {
    width: 100%;
  }
}
