h1 {
  text-align: center;
}

form {
  margin-top: 0.5em;
}

form input,
form select,
form textarea,
form label {
  width: 50%;
}

form label {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

#id_agree_with_terms_of_use {
  flex-basis: fit-content;
  min-width: 1em;
}

form label {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

@media (max-width: 768px) {
  form input,
  form select,
  form textarea,
  form label {
    width: 100%;
  }
}
