{% extends "common/base.html" %}
{% load static %}
{% load cache %}
{% block meta_description %}
    Свържете се с Rocco Woodwork чрез нашата страница за контакти. Разберете как можете да се свържете с нас, да зададете въпроси или да получите информация за нашите продукти.
{% endblock %}
{% block meta_keywords %}
    контакти, свържете се, връзка с нас, обратна връзка, информация, въпроси, продукти, поддръжка
{% endblock %}
{% block title %}Контакти | Rocco Woodwork{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static "css/common/contacts.css" %}">
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Контакти</h1>
        <div class="contacts">
            <div class="contact-information">
                <p>
                    <i class="fa-solid fa-location-dot"></i> Sofia
                </p>
                <p>
                    <i class="fa-solid fa-phone"></i> +35988888888
                </p>
                <p>
                    <i class="fa-solid fa-envelope"></i> example@gmail.com
                </p>
            </div>
            <form method="post" action="{% url 'contacts' %}" class="form">
                {% csrf_token %}
                {% for field in form %}{{ field }}{% endfor %}
                <button type="submit" class="button">Изпрати</button>
            </form>
        </div>
    </div>
{% endblock %}
