{% extends 'common/base.html' %}
{% load static %}
{% load cache %}
{% block meta_description %}
    Rocco Woodwork предлага ръчно изработени бутикови продукти от масивна дървесина. Всички наши изделия са с уникален дизайн и модерна визия - стилен акцент за всеки дом. За нас качеството и вниманието към детайла са на първо място.
{% endblock %}
{% block meta_keywords %}
    дърво, дървени продукти, бутикови продукти, купи, дъски за сервиране, кутии за бижута, кутии, маси, мебели, химикалки, ръчна изработка, смола, цена, дървени дъски за мезета
{% endblock %}
{% block styles %}
    <style>
    .banner {
      background-image: url("static/images/hero-background.jpg") 
    }
    </style>
    <link rel="stylesheet" href="{% static 'css/common/home.css' %}">
{% endblock %}
{% block content %}
    <div class="banner">
        <h1>Ръчно изработени дървени изделия</h1>
        <a href="{% url 'products' %}" class="button">Пазарувай</a>
    </div>
    <!--     {% for product in object_list %} -->
    <!--     {% endfor %} -->
    <!-- {% cache 604800 home %} -->
    <!-- {% endcache %} -->
    <script src="{% static "javascript/change-navbar-color.js" %}"></script>
{% endblock %}
