{% extends "common/base.html" %}
{% load static %}
{% load cache %}
{% block meta_description %}
    Научете как Rocco Woodwork обработва вашата лична информация чрез нашата политика за поверителност. Разберете кои данни събираме, как ги използваме и как гарантираме вашата поверителност.
{% endblock %}
{% block meta_keywords %}
    политика за поверителност, лични данни, защита на данните, информационна сигурност, поверителност на данни, правила за поверителност, информация за потребители
{% endblock %}
{% block title %}Политика за поверителност | RoccoWoodwork{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static "css/common/ul-style.css" %}">
{% endblock %}
{% block content %}
    {% cache 604800 privacy_policy %}
    <h1 class="title">Политика за поверителност</h1>
    <ul class="ul-style">
        <li>
            <span>1. За нас</span>
            <p>
                Rocco Woodwork обработва и съхранява Вашата информация в съответствие с приложимите изисквания и единствено за периода и целите, необходими за обработване на поръчката Ви, както и за да отговорим на Ваши последващи въпроси. Jepeto Woodwork не споделяме лични данни с трети лица без Вашето изрично съгласие.
            </p>
        </li>
        <li>
            <span>2. Какви лични данни събираме и защо</span>
            <p>
                Предоставените от Вас данни са ни нужни, за да изпълним Ваша поръчка. Не предоставяме тези данни на трети лица, с изключение на куриерската фирма, с която Ви доставяме изделието.
                <br>
                При незавършена поръчка оставяме въведените по нея данни за 7 дни и си запазваме правото да Ви информираме периодично за нейния статус, съответно за Вашите опции вследствие на това.
                <br>
                Ако имате профил и влезете в този сайт, ще зададем временна бисквитка, за да определим дали браузърът ви приема бисквитки. Тази бисквитка не съдържа лични данни и се изтрива, когато затворите браузъра си.
            </p>
        </li>
        <li>
            <span>3. Колко дълго държим личните ви данни</span>
            <p>
                За потребители, които се регистрират на нашия уебсайт, съхраняваме и личната информация, която предоставят в потребителския си профил. Всички потребители могат да виждат, редактират или изтриват личната си информация по всяко време
            </p>
        </li>
    </ul>
{% endcache %}
{% endblock %}
