{% extends "common/base.html" %}
{% load static %}
{% block meta_description %}
    Прочетете условията за ползване на Rocco Woodwork. Разберете правилата и условията, които регулират използването на нашия уебсайт и предоставянето на услуги.
{% endblock %}
{% block meta_keywords %}
    условия за ползване, правила, уебсайт, услуги, ползватели, правила за използване, потребители, правила на сайта, правила за потребители
{% endblock %}
{% block title %}Условия за ползване | Rocco Woodwork{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static "css/common/terms-of-use.css" %}">
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Условия за ползване</h1>
        <ol class="terms-of-use">
            <li>
                Настоящите условия за ползване са предназначени за регулиране на отношенията между Rocco Woodwork и неговите регистрирани потребители и ползватели, по-долу наричани „Ползватели“.
            </li>
            <li>
                Rocco Woodwork e платформа, чрез която Ползвателите имат възможност да разглеждат и извършват поръчка на предлаганите от Rocco Woodwork в платформата изделия, включително следното:
                <ol>
                    <li>да извършат регистрация и създаване на профил.</li>
                    <li>да преглеждат изделията, техните характеристики и цени.</li>
                    <li>да извършват поръчка на предлаганите изделия.</li>
                    <li>да извършват контакт и отправят запитвания до Rocco Woodwork.</li>
                </ol>
            </li>
            <li>
                Ползвателите заплащат на Rocco Woodwork възнаграждение за доставените изделия в размер на цената, обявена на сайта за конкретното изделие.
            </li>
            <li>
                За да извърши поръчка на изделия, Ползвателят следва да въведе избрани от него име и парола за отдалечен достъп. Името и паролата за отдалечен достъп се определят от Ползвателя, чрез извършване на онлайн регистрация в сайта на Rocco Woodwork. При извършване на регистрацията или поръчката Ползвателят се задължава да предостави верни и актуални данни.
            </li>
            <li>
                С попълване на данните си при завършване на поръчка и натискане на бутона „Поръчай“, Ползвателят декларира, че е запознат с тези общи условия, съгласен е с тяхното съдържание и се задължава да ги спазва.
            </li>
            <li>
                Ползвателите извършват поръчка на изделията по следната процедура:
                <ol>
                    <li>влизане в системата за извършване на поръчки.</li>
                    <li>
                        избиране на едно или повече от предлаганите от Rocco Woodwork изделия и добавянето им към списък с изделия за поръчка.
                    </li>
                    <li>предоставяне на данни за извършване на доставката;</li>
                    <li>потвърждение на поръчката.</li>
                </ol>
            </li>
            <li>
                Ползвателят е длъжен да прегледа изделието в момента на доставката и предаването и ако не отговаря на изискванията да уведоми за това незабавно Rocco Woodwork чрез <a href="{% url 'contacts' %}">данните за контакт</a>. Ако Ползвателят не уведоми Rocco Woodwork изделието се смята за одобрена като съответстващо на изискванията.
            </li>
            <li>
                Събирането, съхранението и обработването на лични данни се осъществява съобразно Политиката на Rocco Woodwork за поверителност на личните данни, която е достъпна <a href="{% url 'privacy_policy' %}">тук</a>.
            </li>
        </ol>
    </div>
{% endblock %}
